[2017-04-15 00:04] nightroman commented on #750
Very good! I see that you have done this. Thank you.

I noticed you correctly exclude `pwd`. You may want to consider `Error` as well. It has the same issues as `LastexitCode`. I just never saw yet *reported* problems about it.

[2017-04-15 00:05] kapilmb commented on #750
I have created a PR #752 to resolve the primary cause of this issue.

I agree with both your thoughts and I think we can generalize them to any automatic variables.

[2017-04-15 00:08] kapilmb commented on #750
Actually, `error` is [present in the list](https://github.com/PowerShell/PSScriptAnalyzer/blob/956594ca19fef96b7722ff76feed6276825f5deb/Engine/SpecialVars.cs#L179). It was just hidden in the diff view.

[2017-04-15 00:12] nightroman commented on #750
Oh, silly me :)
Thank you!

[2017-04-24 18:16] Jaykul commented on #723
ping

[2017-04-24 18:17] daviwil commented on #723
Hey Kapil, how hard would it be to get this in for the next release?

[2017-04-24 18:18] Jaykul commented on #723
Thanks @daviwil, as far as I can tell, this missing feature prevents us from writing tools to easily apply the correction rules to large multi-file code bases...

[2017-04-24 18:38] Jaykul opened #754 "Code Formatting rules don't _allow_ 1TBS"
Despite overwhelming support in the community for the so-called one-true-brace style ...
https://github.com/PoshCode/PowerShellPracticeAndStyle/issues/81

The current options in the code format rules (and thus in VS Code) don't allow enforcing it.

Personally, I think you shouldn't have all these twiddly settings, but just have names for the three main styles, with perhaps an extra option for "un-

[2017-04-24 21:32] kapilmb commented on #723
@daviwil It is not that hard to convert line number/column number to offsets. However, we use a [ScriptExtent](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/parser/Position.cs#L660) object  to denote the range that needs to be replaced, which does not return a very reliable value for start/end offsets, as can be seen [here](https://github.com/PowerShe

[2017-04-24 21:47] kapilmb commented on #751
PSUseSingularNoun relies on [PluralizationService](https://msdn.microsoft.com/en-us/library/system.data.entity.design.pluralizationservices.pluralizationservice(v=vs.110).aspx) APIs and and I don't think it recognizes *repo* as a singular form and hence it doesn't recognize *repos*.

I think rather than adding *repos* to a built-in global whitelist, PSScriptAnalyzer should provide an ability to co

[2017-04-25 15:07] wordcarlos commented on #401
Total 23816 words created by multiple letters combination with "S" as prefix, below there are some words listed starting with "S"
Example: 1). Sacramentary 2). Satisfactive 3). Scholarships 4). Satisfactory 5). Sociologists etc.

[Scrabble word finder](http://wordcreation.info/words-starting-with-s.html)

[2017-04-25 15:09] wordcarlos commented on #401
Total 23816 words created by multiple letters combination with "S" as prefix, below there are some words listed starting with "S"
Example: 1). Sacramentary 2). Satisfactive 3). Scholarships 4). Satisfactory 5). Sociologists etc.

[Scrabble word finder](http://wordcreation.info/words-starting-with-s.html)

[2017-04-28 18:14] LaurentDardenne opened #755 "The rule 'PSUseCmdletCorrectly' reference a wrong command"
The analysis of this code seems to reference a command that is not in the current scope :
[code]
Versions :
[code]

PSScriptAnalyzer version 1.11.1
Windows Seven x64

[2017-05-01 20:48] kapilmb commented on #755
This is a bug. The rule should looks at the locally defined `Get-TypeName` function first first before looking at installed functions/cmdlets.

[2017-05-03 18:55] 4c74356b41 commented on #561
because they are tests, what kind of question is that, why don't you write tests for tests? why should you have lower standards for test than the rest of your code?

[2017-05-07 01:09] kjacobsen commented on #561
Good point @RobFaie, only issue is that some times Pester syntax can trigger false positives.

[2017-05-15 15:11] pcgeek86 opened #760 "Add check for whitespace at end of line"
To keep PowerShell code tidy, we should check to see if the line ends with whitespace characters. If it does, then we should recommend trimming the trailing whitespace, and even fix it automatically for the developer.

This is similar to one of the requirements in the PEP8 guideline for Python, which is validated by the [Pylint module](https://www.pylint.org/).

https://www.python.org/dev/peps/pep

[2017-05-15 23:18] nightroman commented on #750
It seems to be fixed in 1.12.0

[2017-05-15 23:18] #750 closed

[2017-05-16 02:56] #568 closed

[2017-05-18 05:41] ryangribble commented on #636
I also encountered the `$variable += $something` triggering this violation.

Any comments about whether this is something that should be avoided or whether it's just not being understood properly and is a false positive?

[2017-05-18 20:18] kapilmb commented on #636
This is a false positive. `$variable += $something` is a perfectly valid construct but the rule is very naive and has a lot of limitations.

Sorry about not having a clear guidance as to when this will be fixed. We will push a fix soon, hopefully by the end of May or early June.

[2017-05-22 01:18] SeeminglyScience opened #764 "PSUseConsistentIndentation adds to indent level for every open sub expression"
## Steps to reproduce

1. Add this to a ps1 file in VSCode.
[code]

2. Format document.

## Expected result

[code]

## Actual result

[code]

[2017-05-22 18:59] kapilmb commented on #764
Thanks for reporting the issue. We are already tracking the bug at PowerShell/vscode-powershell#576. Please subscribe to that issue.

[2017-05-22 18:59] #764 closed

[2017-05-23 05:09] mattpwhite opened #765 "Documentation for implementing rules in a .NET assembly"
Apologies if I've just missed something, but I can't seem to find much in the way of documentation for implementing rules in a .NET assembly.  I took a stab at it anyway by creating a class that implements IScriptRule, but ScriptAnalyzer can't seem to find it.  I just get something like:

[code]

I've tried adding an [Export(typeof(IScriptRule))] attribute to my class, but it didn't help.

[2017-05-23 14:12] mattmcnabb commented on #675
Yes please!

[2017-05-23 21:19] kapilmb commented on #765
@mattpwhite you didn't miss anything. Unfortunately, the way to write an external .net assembly rule is not documented and even if you were to write such a rule, it is somewhat cumbersome.  But since you have already taken the dive, let me know if this can provide any help. If you have created a `dll` that contains the rule, you can set `CustomRulePath` to point that `dll`. This should make PSSA l

[2017-05-24 04:15] mattpwhite commented on #765
Yeah, it seems like it might be.  I hadn't gotten far enough along to figure out how I might deploy this but it does seem awkward.  I had been thinking that I would ship the dll as part of a module, without including the ScriptAnalyzer assembly and declare ScriptAnalyzer as a RequiredModule in the manifest, but hadn't really looked into the details.

That's what I tried - `-CustomRulePath C:\path\

[2017-05-24 23:47] jakeoshins opened #766 "Analysis of DSC resource derived from a base class fails"
I have two similar DSC resources.  So I made a base class that implements the Get() and Test() functions, but the Set() function is supplied by the derived classes.  When I run the script analyzer, it things that the Get() and Test() functions are missing from the derived classes.  I see this error:

PSDSCStandardDSCFunctionsInResource Error        XX.Certificate.psm1 359   Missing 'Test' function

[2017-05-27 01:43] kapilmb commented on #582
#758 addresses this.

[2017-05-27 01:43] #582 closed

[2017-05-30 02:05] dchristian3188 opened #767 "Add check for capitalization for reserved powershell words"
One thing i would like to see is rules that check case of reserved powershell words like function, if, switch, class, etc.

A setting should be available to enforce all lower, upper and proper case. Ideally this would drive a correction that could be used by VSCode to auto correct.

[2017-05-31 15:10] daviwil opened #768 "Block comment trigger characters at the beginning of function body do not generate parameter help"
Just noticed this while putting together the changelog for the PowerShell extension:

![Comment help GIF](https://cloud.githubusercontent.com/assets/79405/26637844/6e76cfa6-45d5-11e7-89b8-a2d6a559536b.GIF)

The function gets identified correctly but it seems that PSScriptAnalyzer doesn't read the parameters correctly if a `[CmdletBinding()]` attribute is used on the parameter block.

[2017-05-31 20:04] gaudreaj opened #769 "Unable to use both AlignAssignmentStatement and UseConsistentWhitespace rules"
Hi,

It seems like it is not possible to use both AlignAssignmentStatement and UseConsistentWhitespace rules because the first contradicts the second. UseConsistentWhitespace is enforcing that only one space is used before the operator while AlignAssignmentStatement assert that all "=" operators are aligned. The only way the analyzer would not fail is that all the keys from the hashtable are the s

[2017-05-31 21:48] daviwil commented on #768
Since this is a PSES issue I'm moving it over to the PowerShellEditorServices repo :)

[2017-05-31 21:48] daviwil commented on #768
This issue was moved to PowerShell/PowerShellEditorServices#478

[2017-05-31 21:48] #768 closed

[2017-05-31 21:49] kapilmb commented on #768
Thanks for moving the issue!

[2017-05-31 22:06] kapilmb commented on #769
-  `PSUseConsistentWhitespace` rule is more general in the sense that it takes into account any binary operator, including the assignment operator.
- `AlignAssignmentStatement` specifically targets property value pairs in a hashtable.

You're right that the results they produce can be contradictory when dealing with property value pairs in a hashtable and that can be confusing. However, their orig

[2017-05-31 22:08] kapilmb commented on #769
Going forward, when we get a chance we can probably deprecate the `AlignAssignmentRule` and add an equivalent switch in the `UseConsistentWhitespace` rule.

@daviwil thoughts?

[2017-05-31 22:12] daviwil commented on #769
Yep, it would be a cleaner approach to use a single rule for that.  Sometimes we don't know until we get there :)

[2017-06-06 19:06] #596 closed

[2017-06-07 06:04] KeeperB5 opened #771 "Classes not fully supported?"
I am currently developing two PowerShell modules, module B depends on module A. A.psm1 and B.psm1 contain classes and enums. Both modules have module manifests and in both modules functions are offloaded to NestedModules, which in this case are ps1 files.

Now, when I run `Invoke-ScriptAnalyzer -Path C:\...\Modules\A -Recurse` all is well.

But when I run `Invoke-ScriptAnalyzer -Path C:\...\Module

[2017-06-07 13:51] #771 closed

[2017-06-09 21:30] davebrannan commented on #711
I also see this when I declare a variable in a module and export it using Export-ModuleMember.

[2017-06-11 01:32] kapilmb opened #774 "Make `Invoke-Formatter` parameters positional"
`Invoke-Formatter` parameters (`ScriptDefinition` and `Settings`) are not positional currently, which provides a sub-optimal user experience.

[2017-06-11 01:37] kapilmb opened #775 "Add `-Path` parameter to `Invoke-Formatter`"
`Invoke-Formatter` takes only a `ScriptDefinition` parameter. The user should be able to point the cmdlet to a file for formatting. However, the following things need to be preserved when formatting a file:
- file encoding
- new line characters
- indentation type `{tab, space}`

[2017-06-11 23:09] it-praktyk opened #776 "Help for 'Invoke-Formatter' is not displayed correctly"
The current version of Invoke-Formatter doesn't display correctly help when Get-Help is used.

The output
[code]

The expected output for the SYNTAX section only

[code]

The section RELATED LINKS could be fulfilled too.

[2017-06-12 21:25] #774 closed

[2017-06-12 21:25] #776 closed

[2017-06-12 22:20] dcrreynolds opened #779 "Ensure matching #region and #endregion"
I love regions, I don't love when each #region or #endregion is missing its pair. An informational warning for when these tags are out of balance would be nice.

[2017-06-14 17:11] LaurentDardenne commented on #675
What about this demand for evolution ?

[2017-06-14 17:51] kapilmb commented on #675
We will try to get this thing in in the next couple of releases.

[2017-06-16 18:46] mattmcnabb opened #783 "-Settings parameter doesn't work with relative path"
it seems that the -Settings parameter won't handle a relative path to a settings file:

![image](https://user-images.githubusercontent.com/6998507/27240281-1b821182-52a2-11e7-824c-ca7444e29ada.png)

This is not documented and is counter-intuitive. Please consider allowing relative paths for this.

Thanks!

[2017-06-16 23:17] kapilmb commented on #783
The parameter should support relative paths. This is definitely a bug.

[2017-06-17 02:35] kapilmb commented on #754
The following PRs address the issues mentioned here:
- #784
- #782
- #781

[2017-06-17 02:35] #754 closed

[2017-06-17 09:32] mkht opened #786 "Method not found exception occurs when analyze DSC Resource"
It seems to have occurred from 1.14.0

[code]

[2017-06-17 18:14] rkeithhill opened #787 "Time to get rid of build.cmd?"
Tried to build PSSA with build.cmd and these errors:

[code]
I also thought that .NET Core no longer uses $home/.dnx.

[2017-06-17 18:17] daviwil commented on #787
PSScriptAnalyzer hasn't moved to dotnet CLI 1.0 yet so it's still on one of the preview releases before the csproj changeover.  Looks like the proper way to invoke the build(s) is here:

https://github.com/PowerShell/PSScriptAnalyzer/blob/development/appveyor.yml#L27

[2017-06-17 19:51] kapilmb commented on #787
Yes, we need a proper build system for PSSA. Right now it is just a custom script `buildCoreClr.ps1`. I have been debating for while what build system to use - Invoke-Build or psake?

[2017-06-17 19:52] kapilmb commented on #787
Any opinions/suggestions on the choice of build tool are welcome.

[2017-06-17 20:02] daviwil commented on #787
Your only option for cross-platform builds right now is Invoke-Build until we kick out a new psake release with cross-platform support.

[2017-06-17 20:13] kapilmb commented on #786
Can you provide me the output of `[System.Environment]::OSVersion` and `$PSVersionTable` ?

[2017-06-18 03:53] mkht commented on #786
Thanks for your reply.
[code]

And I attach the DSC resource and transcript-log used for the test.
[TestFiles.zip](https://github.com/PowerShell/PSScriptAnalyzer/files/1082888/TestFiles.zip)

[2017-06-18 14:23] LaurentDardenne opened #789 "Feature request: Analyze the TypeData files"
A [PSScriptMethod.Script](https://msdn.microsoft.com/en-us/library/system.management.automation.psscriptmethod.script(v=vs.85).aspx) property is a scriptblock and can contains wrong code :
[code]
Today I must extract the code, create a temporary file, analyze this file and finally remove this file.

[2017-06-18 22:56] kapilmb commented on #789
Why do you need to create a temporary file?

`Invoke-ScriptAnalyzer` can take a script in string form for analysis. If `ScriptMethod.Script` is a scriptblock then you can do the following.
[code]

[2017-06-19 05:11] LaurentDardenne commented on #789
The DiagnosticRecord contains Scriptpath property.
Inside a build script I know where is the problem, instead to write to the console the origin file name :
[code]

I know, but -ScriptDefintion parameter do not accept pipeline input.
This was to improve performance.

[2017-06-20 22:28] kapilmb opened #791 "Add ability to inherit settings"
There is a lot of duplication across the code formatting setting presets. A settings file should be able to point to an existing settings file or a preset so that it can inherit thos settings. On top of that, the settings file can then override existing properties or add more properties to provide a custom settings file.

[2017-06-21 01:43] kapilmb commented on #786
Thanks for the information and the resource file. From preliminary investigation, this is not a v1.14.0 issue. You can repro this even using v1.13.0. It seems that this error starts appearing after the latest updates to windows but I will need more time to get the root of the issue. In the meantime, a workaround would be run PSScriptAnalyzer on the latest version of PowerShell core, which doesn't

[2017-06-21 01:54] kapilmb commented on #789
Thanks for clarification. So, if I understand your requirement correctly, a user should be able to point PSScriptAnalyzer to a type data file so as to analyze the code contained in the `<Script>` and `<GetScriptBlock>` tags.

[2017-06-21 07:59] LaurentDardenne commented on #789
_So, if I understand your requirement correctly, a user should be able to point PSScriptAnalyzer to a type data file so as to analyze the code contained in the Script and GetScriptBlock tags_

Yes, that's it.

[2017-06-21 23:13] LeeDailey opened #793 "Add Whitesmiths to the indentation style list."
howdy y'all,

i have problems seeing the normal indentation styles. for me, the best seems to be Whitesmiths where all the subordinate parts are indented.

[code]

the above is more clearly demarcated when compared to y'alls standard below ...

[code]

in any case, thank you for looking into this! [*grin*]

take care,
lee

[2017-06-21 23:21] daviwil commented on #793
Hey Lee, thanks for filing this!  We'll look into what it'd take to make this style of formatting possible.

[2017-06-22 00:15] LeeDailey commented on #793
howdy daviwil,

you are welcome ... and thanks for looking into it. [*grin*] every update you folks bring VSCode closer to my idea of a replacement for the ISE.

take care,
lee

[2017-06-22 23:25] kapilmb opened #794 "Rule to enforce new line after a statement"
If `Invoke-Formatter` is given a single line script, then it fails to format the script properly.
[code]
the `foreach` statement should be on its own line.

[2017-06-23 01:30] kapilmb commented on #793
@LeeDailey In the example you provided, did you mean the following:
[code]
It seems like the `elseif` and `else` blocks should not be indented for the _Whitesmits_ style.

[2017-06-23 01:52] LeeDailey commented on #793
howdy kapilmb,

it's entirely possible that i have misunderstood Whitesmiths. [*blush*]

however, to ME the important thing is the full indentation of all subordinate components. the style you have shown makes it difficult for me to see where the actual IF block finally ends. the ELSEIF and ELSE are subordinate to the IF and the style i showed makes that brutally obvious.

brutally obvious helps m

[2017-06-29 08:39] darrenstarr opened #798 "No mechanism to specify module dependencies for integration tests"
I have written a DSC module for configuring certificates connected to the IIS Web Management Service. My integration tests generate a certificate using xCertificate (more specifically xCertReq) and then assigns the said certificate to the Web Management Service.

The dependency on xCertificate is within the integration test and the example code, not within the module itself. Adding xCertificate to

[2017-07-06 11:01] DexterPOSH commented on #699
bump

Is this fixed already? I still see these false positives.

[code]

[2017-07-06 11:02] DexterPOSH commented on #711
bump
I am still seeing the false positives. As explained here https://github.com/PowerShell/PSScriptAnalyzer/issues/699

[2017-07-06 18:50] brywang-msft opened #799 "HTTP endpoints should be HTTPS"
This line was changed in in-box code. Same change should be made here:

Engine\Commands\GetScriptAnalyzerLoggerCommand.cs
[Cmdlet(VerbsCommon.Get, "ScriptAnalyzerLogger", HelpUri = "http://go.microsoft.com/fwlink/?LinkId=525912")]

Similarly in InvokeScriptAnalyzerCommand.cs

[2017-07-07 17:11] JPRuskin opened #800 "Invoke-Formatter - Allman-to-OTBS with a comment after keyword fails"
Using `Invoke-Formatter`, the suggested correction for correcting an Allman style brace with the pre-existing OTBS rules fails if there is a comment after the keyword.
`if ($bar)  # this is the test {`

Expected behavior would be that the brace is moved to a non-comment section.
`if ($bar) {  # this is the test`

Full Example:
[code]

[2017-07-07 21:16] kapilmb commented on #799
Thanks @brywang-msft !

[2017-07-07 21:23] kapilmb commented on #786
Fixed in #801

[2017-07-07 21:23] #786 closed

[2017-07-07 21:34] kapilmb commented on #798
@darrenstarr This should not happen if ScriptAnalyzer is invoked using the `-SaveDscDependency` switch. I will check with the gallery team to see if they are using it or not and get back to you.

[2017-07-12 00:31] kborowinski opened #1434 "Feature Request: Option to use tabs instead of spaces when aligning property value pairs"
Is it possible to add option to align property value pairs with tabs instead of spaces?

[code]

Currently when formatting hashtable the tabs are replaced with spaces:

![image](https://user-images.githubusercontent.com/16168755/28096570-1f6fd164-66aa-11e7-9710-508a3872b4cb.png)

Would love to have the option to use tabs for alignment instead:

![image](https://user-images.githubusercontent.com/16

[2017-07-15 15:36] bergmeister opened #802 "Feature idea: Auto-Correct warnings"
PSScriptAnalyzer already suggests possible fixes and for certain warnings like e.g. `PSAvoidUsingCmdletAliases` there is only solution for a fix (apart from suppressing it).
I have already created a working prototype of PSScriptAnalyzer that automatically corrects `PSAvoidUsingCmdletAliases` and would be happy to do a PR for that.
Would you be happy with that and if so, how should this feature be

[2017-07-17 20:36] kapilmb commented on #802
Hey @bergmeister, adding something to PSScriptAnalyzer that fixes such warnings will be great! We already do that in the `Invoke-Formatter` cmdlet but only with formatting rules.

I think we have 3 options to tackle this problem:
1. Write a separate cmdlet that takes in the `DiagnosticRecord` objects produced by `Invoke-ScriptAnalyzer`
1. Write a separate cmdlet whose only function is to analyze a

[2017-07-17 21:45] bergmeister commented on #802
OK. It was interesting to read your thoughts (and I also learned about `Invoke-Formatter`, maybe you should mention it in the main `README.md`?).
I can understand your concerns about the first and second approach and agree that the 3rd approach is easier to implement (in fact that's how my prototype works at the moment) and possibly maintain. My prototype is just crude a method in the `AvoidAlias`

[2017-07-18 23:09] kapilmb commented on #802
I must've forgotten to include information regarding `Invoke-Formatter` cmdlet in the readme. Thanks for pointing that out.

Regarding `-fix` implementation, there is a slight problem with letting the rules fix the content themselves. Typically, rules can run concurrently on a file and so if one rule modifies the content then it may invalidate the content that is being analyzed by some other concu

[2017-07-20 15:14] gwojan commented on #711
I just noticed this bug... It appears any time a variable is assigned inside ```{}``` resulting in a false positive being identified by PSScriptAnalyzer.

[code]
OR
[code]

[2017-07-21 16:33] DarqueWarrior commented on #711
It is also triggered when you assign an environment variable like this.
$env:TEAM_PAT = $Pat

[2017-07-22 15:36] bergmeister commented on #802
@kapilmb : I have committed now the minimum viable feature in my fork [here](https://github.com/bergmeister/PSScriptAnalyzer/commit/3c1986172f14c319f8224e2ae331efd69cf8aff7). I had a look at the code structure and `Invoke-Formatter` but I think I found a simpler solution that fits more neatly into the existing code and therefore does not result in code duplication.
I solely use the information ava

[2017-07-23 12:14] bergmeister commented on #787
On a related note: The AppVeyor build does not work in my fork (maybe this should be a separate issue?). See e.g. [here](https://ci.appveyor.com/project/bergmeister/psscriptanalyzer/build/1.0.4). The error that I get is:
"Failed to setup build job 'Environment: APPVEYOR_BUILD_WORKER_IMAGE=WMF 4, PowerShellEdition=Desktop, BuildConfiguration=PSv3Release': Build worker image not found: WMF 4"
In my

[2017-07-24 20:46] sandersaares opened #1435 "Bad formatting of call operator line"
### System Details

- Operating system name and version: Windows 10
- VS Code version:
Version 1.14.2
Commit cb82febafda0c8c199b9201ad274e25d9a76874e
Date 2017-07-19T23:34:09.706Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0
- PowerShell extension version: 1.4.1
- Output from `$PSVersionTable`:

[code]

[code]

### Issue Description

The following line is incorrectly formatted:

[code]

VS Code tr

[2017-07-27 08:56] PowerDBAKlaas commented on #711
I have this example where a property of the variable is used:
![image](https://user-images.githubusercontent.com/22813386/28662366-37ac171c-72ba-11e7-951b-fe0832f07508.png)

[2017-07-29 10:11] kborowinski opened #804 "PSScriptAnalyzer incorrectly scopes variables in begin/process/end scriptblock"
PSScriptAnalyzer incorrectly adds scope to begin/process/end scriptblocks when it should treat them as one scope:

![hashtable](https://user-images.githubusercontent.com/16168755/28743967-f0bf5b36-7456-11e7-8072-88a0a11a934d.jpg)

[2017-07-30 00:16] SteveL-MSFT opened #805 "Rules to check compatibility with PSCore6"
Now that PSCore6 has compatibility with many Windows PowerShell .Net modules, we should start developing rules to validate if modules used, .Net api's used, or incompatible Windows PowerShell features (api's removed or changed).

[2017-07-31 17:30] joeyaiello opened #806 "Rule to recommend against Lists when using += with Array objects"
As some of the below articles note, using `+=` with an Array object can be very slow, as it copies the Array into a new Array in-memory. The recommendation is very often to use List objects instead of Arrays to avoid this problem.

Thoughts?

https://stackoverflow.com/questions/14620290/powershell-array-add-vs
https://powershell.org/2013/09/16/powershell-performance-the-operator-and-when-to-avoid-

[2017-07-31 17:50] nightroman commented on #806
When used in a loop, it's probably a good idea. Otherwise, it may be annoying because there are many reasonable applications of `+=` that may be even faster or just cleaner. `New-Object System.Collections.Generic.List[System.Object]` is quite an expression to type, parse, evaluate.

[2017-08-01 20:40] ThmsRynr opened #807 "Settings param cannot be set to $_ inside of a foreach-object loop"
When the value of the `-Settings` parameter is set to `$_` inside of a foreach-object loop, PSScriptAnalyzer is unable to find the settings file.

**Steps to reproduce:**
Create a file that violates a rule that is only checked if a particular setting is triggered.
IE:
[code]
_This code will throw errors if `-Settings` is set to `CodeFormattingStroustrup` but not if `-Settings` it is omitted._

The

[2017-08-01 20:55] TimCurwick commented on #804
This also happens in the ForEach method:

[code]
`The variable 'A' is assigned but never used.`

[2017-08-01 22:12] kapilmb commented on #807
Probably something is wrong with the settings parameter processing. The following, however, seems to work as expected:
[code]

[2017-08-03 05:49] SteveL-MSFT opened #808 "Warn against writing to automatic variables"
https://github.com/PowerShell/PowerShell/issues/3061

Errors for writing to $_, $PSItem, and $Input

[2017-08-03 09:17] iSazonov commented on #808
We can create its as read only.
We can add parser errors.
But for Set-Variable it seems we should add runtime error.

[2017-08-03 13:06] mklement0 commented on #808
Thanks for keeping track of this. For convenience, here's the list of _all_ automatic variables that _shouldn't_ be writable, but currently are (copied from the linked issue):

As @lzybkr has pointed out, this lists needs careful vetting, however, to prevent false positives.

[code]

"Predefined" refers to whether they exist in the global scope by default.

Some of them are only defined in certain

[2017-08-03 22:20] bergmeister commented on #806
Good idea in general but I also agree with @nightroman that one does not care in most situations. I think it would make sense to group PSScriptAnalyzer warnings into something like 3 categories so that one can either configure PSScriptanalyzer to apply only rules of those categories or alternatively filter for them later on:

- CodeAnalysis (where stuff can go wrong like e.g. PSPossibleIncorrectCo

[2017-08-03 22:22] bergmeister commented on #808
@SteveL-MSFT Looks like a duplicate of #712?

[2017-08-04 01:22] SteveL-MSFT commented on #808
@bergmeister yes, I did a search and that one didn't come up

[2017-08-04 01:22] #808 closed

[2017-08-04 02:11] mklement0 commented on #712
For convenience, here's the list of _all_ automatic variables that _shouldn't_ be writable, but currently are (copied from the linked issue):

As @lzybkr has pointed out, this lists needs careful vetting, however, to prevent false positives.

[code]

"Predefined" refers to whether they exist in the global scope by default.

Some of them are only defined in certain contexts, but, arguably, to preve

[2017-08-07 04:27] iSazonov commented on #712
We need two rule:
1. $_/$PSItem and $input should be read only.
Conclusion @powershell-committee for $_/$PSItem https://github.com/PowerShell/PowerShell/issues/3695#issuecomment-319826645
Conclusion @powershell-committee for $input https://github.com/PowerShell/PowerShell/issues/3061#issuecomment-319826831
2. For rest automatic variables "It is recommended to be read only (don't reuse)"
Conclusion

[2017-08-09 01:39] krissmilne commented on #767
As Powershell isn't a case sensitive language, it would be good to provide the case formatting options for the developers preference.

Something along the lines of:

//Changes the case for powershell reserved words (if, else, elseif, function, switch, param etc...) to either UPPER, lower or First (capitalises the first letter)
"powershell.codeFormatting.reservedWordCase": "lower", "upper", "first"

[2017-08-10 21:52] jongross4 opened #809 "Rule to warn against use of equal sign when comparator (-eq) should be used"
When moving from other languages where a simple '=' equal sign can be used both as assignment and operator, a warning should be logged.  Other Boolean operations should be flagged too. Examples:

if ($x = $y) {} -- Always true

for ($i = 1; $i > 99; $i++) - alias to out-file

[2017-08-10 23:28] nightroman commented on #809
I agree about `>`, in certain contexts it may be treated as a very probable mistake.

But I have some doubts about `=`.
It is not true that the above `$x = $y` is always true.

[code]

I agree that `if ($x = $y)` may look like a potential mistake.
But it may be a concise (and a bit more effective) code, too.

Example:

[code]

instead of the same

[code]

[2017-08-11 01:16] RamblingCookieMonster opened #810 "UseBOMForUnicodeEncodedFile - Still necessary?"
Hiyo!

I won't pretend to know anything about encoding, but noticed [this RFC draft](https://github.com/PowerShell/PowerShell-RFC/blob/master/2-Draft-Accepted/RFC0020-DefaultFileEncoding.md) was accepted a while back.  Is there a need for `UseBOMForUnicodeEncodedFile`, both given the RFC, and in general?

To clarify - is there any benefit to this rule?  What breaks if there is no BOM?  We know for

[2017-08-12 15:47] jongross4 commented on #809
While I agree with the last example, it would be a very advanced concept for most scripters and more likely been done in error.  Multiple times I have been tripped up by use of '=' in an 'if' statement, that reads syntactically correct for many other languages, but is an assignment statement in PowerShell.

[2017-08-12 16:50] nightroman commented on #809
I agree with you, too. It's just going to be a noise rule for me...

[2017-08-13 19:55] LaurentDardenne commented on #599
Same problem with the key 'RequiredAssemblies', the assemblies declared are not loaded :
[code]
Module code :
[code]
![image](https://user-images.githubusercontent.com/4894452/29252941-3b7b81ba-8071-11e7-9118-f406edc9c59f.png)

WorkAround :  use Add-Type inside the module code.
[code]
![image](https://user-images.githubusercontent.com/4894452/29252971-1686d9bc-8072-11e7-8f29-a0b2e005d43a.png)

[2017-08-14 11:07] LaurentDardenne commented on #599
For a script module, the scriptblock assigned to _$MyInvocation.MyCommand.ScriptBlock.Module.OnRemove_ is not called.

[2017-08-14 11:26] LaurentDardenne opened #811 "Get-ScriptAnalyzerRule with CustomRule (module script) return private function"
With a script module that contains this fonctions :
[code]
Get-ScriptAnalyzerRule return this three functions :
[code]
Here, the private functions have a parameter named 'Ast' which, [a priori](https://github.com/PowerShell/PSScriptAnalyzer/blob/662d96190e5359c8e84a3a6550d2039bf8bd8ecf/Engine/ScriptAnalyzer.cs#L1110) regarded them as a rule.

[2017-08-14 11:34] LaurentDardenne commented on #811
Add this solves the problem :
[code]

[2017-08-14 11:34] #811 closed

[2017-08-14 22:06] daviwil opened #812 "Minor Foreach issue in script analyser"
_From @tsiemons on August 9, 2017 12:1_

PS C:\Users\TonSiemons\OneDrive\Powershell\SSP> code --list-extensions --show-versions
Kipters.codeshell@0.2.2
ms-mssql.mssql@1.1.0
ms-vscode.PowerShell@1.4.1
PS C:\Users\TonSiemons\OneDrive\Powershell\SSP> $PSVersionTable

Name                           Value
----                           -----
PSVersion                      5.1.15063.502
PSEdition

[2017-08-14 22:06] daviwil commented on #812
Moving this issue to the PSScriptAnalyzer repo.

[2017-08-15 14:54] Clijsters commented on #676
Same here. Look at that short snippet (I removed some boilerplate, this one isn't actually working as is)

As you can see, the ObjectType is not defined by the `$tmpList` object, because it's piped to a Converter. Also is it only one case, where the ArrayList is used.

[code]

[2017-08-16 19:39] kapilmb commented on #810
It appears the rule was created to address issue #293.

Maybe we need a xplat rule that errors out if a file has BOM marker, but then it would work against the `UseBOMForUnicodeEncodedFile` rule. One approach to avoid such conflicting diagnosis would be to make these two rules part of different rule sets?

[2017-08-16 19:48] kapilmb commented on #812
@tsiemons I do not understand the issue. Can you please provide steps to reproduce the error. When I try the following, I do not get any error:

[code]

[2017-08-16 21:16] kapilmb opened #814 "Rule to check presence of DLLs included with Windows PowerShell"
This rule would check if a module contains DLLs that are shipped with Windows PowerShell, eg. System.Management.Automation.dll.

[2017-08-20 21:30] bergmeister commented on #802
@kapilmb : Just a friendly reminder whether you had a look at my proposed implementation [here](https://github.com/bergmeister/PSScriptAnalyzer/commit/3c1986172f14c319f8224e2ae331efd69cf8aff7) and if you think that it would be suitable for a PR?

[2017-08-21 21:52] kapilmb commented on #802
@bergmeister Sorry I haven't been able to devote much time here. I just went through your changes and left some comments. I would still prefer the `-fix` switch to follow the pattern that Formatter.Fix method uses because that would mean less code duplication and a more uniform solution for the `fixing` problem.

[2017-08-22 23:25] KrishnaV-MSFT opened #816 "Need link to RuleDocumentation with PSSA results"
It will be great if there is a hyperlink in the output pointing to rule documentation for guidelines.

Invoke-ScriptAnalyzer C:\Temp\temp.ps1 | fl * -f

Line                 : 38
Column               : 1
Message              : The variable 'src1' is assigned but never used.
Extent               : $src1
RuleName             : PSUseDeclaredVarsMoreThanAssignments
Severity             : Warning
Scrip

[2017-08-22 23:45] kapilmb commented on #816
Related issues: #575, #730

[2017-08-24 16:19] csharmath commented on #632
+1

[2017-09-08 22:12] ajansveld commented on #619
Is this still on the radar? Seems like it would be fairly easy to fix and it would be great to provide custom formatting in vscode.

Thanks!

[2017-09-12 16:47] ThubLives commented on #711
I'm seeing this when a variable is assigned a value inside specific script block types and no other reference is made within the same script block.  I'm using VS Code 1.16.0 and ms-vscode.powershell 1.4.2.

So far I've only seen two types of script blocks exhibiting the problem: ForEach-Object and Where-Object.  Someone above mentioned arbitrary script blocks like
[code]
but I'm pretty sure it's w

[2017-09-18 13:26] jdkang commented on #711
I'm seeing this specifically with assigning values to collections inside a a `foreach-object` and using the collection later -- either as a reference or iterating over it.

EXAMPLE:
[code]

[2017-09-19 22:31] dantraMSFT opened #819 "Module exported variables should not be flagged with PSUseDeclaredVarsMoreThanAssignment"
Repro:  In a module, define and assign a variable then export it using Export-ModuleMember -Variable

---
$MyVariable = 'some value'
Export-ModuleMember -Variable MyVariable
---

Expected:  Invoke-ScriptAnalyzer does not flag the variable as unused.
Actual:
file: 'file:MyModule.psm1'
severity: 'Warning'
message: 'The variable 'MyVariable' is assigned but never used. (PSUseDeclaredVarsMoreThanAssig

[2017-09-21 08:13] hmmwhatsthisdo commented on #789
A potential avenue for improving Types.ps1xml support in PSScriptAnalyzer might be to analyze the type/member names themselves.

One such example might be evaluating whether or not the type exists when invoking PSScriptAnalyzer (I'm not 100% positive, but I believe Types.ps1xml files only work on existing types) or, assuming the type does exist, checking to see if one of the definitions in the Typ

[2017-10-06 20:51] bergmeister opened #821 "Build using RTM version of .Net Core"
What would it take to make it use the RTM version of .Net Core? Is it just the change from project.json to csproj or is it more complex?

[2017-10-20 15:35] mikeclayton opened #822 "Suppressing PSAvoidGlobalVars for a single variable"
Hi, I've got a legacy script which I've started running through PSScriptAnalyzer, and I've got a bunch of global variables which I'm gradually refactoring away. However, one of them is proving difficult to deal with so I'd like to suppress the PSAvoidGlobalVars error on just that one for now, while leaving the others still erroring to remind me I need to come back and fix them later.

I don't real

[2017-10-20 15:57] mikeclayton commented on #822
I've also just read the documentation at https://github.com/PowerShell/PSScriptAnalyzer#suppressing-rules (which I probably should have done first!) but I'm still not sure how to do this.

I'm guessing I need to add the attribute to a script-level param block and scope / target the variable somehow, but I'm not sure what Scope or Target to use...

[code]

[2017-10-22 07:44] LaurentDardenne opened #823 "[Question] Retrieve all Configurable rules"
I try to retrieve all configurable rule with this code, but the '[AvoidAlias'](https://github.com/PowerShell/PSScriptAnalyzer/blob/2114db7ad5bc378e15ce0fc451daa73c426f8bec/RuleDocumentation/AvoidUsingCmdletAliases.md) rule is missing, should not this rule be of the ConfigurableRule type ?
[code]

[2017-10-23 05:04] TylerLeonhardt opened #824 "Rule to warn against having a semicolon at the end of the line"
[code]

We should warn against using semicolons at the end of a line.

[2017-10-24 10:54] Lowestkillcount opened #825 "Script analyzer warns about unused variables when variable is used in Invoke-Command"
Hi Guys,

Script Analyzer is flagging a few variables as not used anywhere in the script.

These variables are only used during an Invoke-Command line when is calling them like below

Invoke-Command -Session $S -ScriptBlock {$VMDet = Get-VM $VM}
$VMDetails = Invoke-Command -Session $S -ScriptBlock {$VMDet}

Script analyzer is throwing file: '
message: 'The variable 'VMDet' is assigned but never us

[2017-10-25 17:34] daviwil opened #826 "Formatter should check for end-of-line comment when moving opening brace to same line"
_From @MRWeather on October 25, 2017 16:30_

PS v1.0> (Get-CimInstance Win32_OperatingSystem).version
10.0.15063

PS v1.0> code -v
1.17.2
b813d12980308015bcd2b3a2f6efa5c810c33ba5
PS v1.0> $pseditor.EditorServicesVersion
PS v1.0> code --list-extensions --show-versions
donjayamanne.python@0.7.0
ms-mssql.mssql@1.2.0
ms-vscode.PowerShell@1.4.3
ms-vsts.team@1.122.0
PS v1.0> $PSVersionTable

Name

[2017-10-25 17:34] daviwil commented on #826
Ouch!  That's definitely wrong.  I'll move this issue over to the PSScriptAnalyzer repo.

[2017-10-27 11:11] Zhunya opened #827 "Warning about unused variable in VSCode"
A wrong warning about unused variable, but that variable used later in code:

![default](https://user-images.githubusercontent.com/14327077/32101398-c2409e8a-bb20-11e7-8bc8-fdf9d7c7b0f5.png)

[2017-11-02 17:27] csharmath commented on #827
+1
I've seen this as well with Insiders build + latest everything. But it's not consistent and sometimes I just have to restart the powershell session

[2017-11-03 00:40] chriskuech opened #828 "Invoke-ScriptAnalyzer throws error"
PSScriptAnalyzer throws an error "Object reference not set to an instance of an object" when analyzing the hash literal in the following line.

`$MyObj | % { @{$_.Name = $_.Value} }`

[2017-11-03 05:59] codykonior commented on #711
I'm seeing it with code like this:

[code]

Output:

[code]

PSScriptAnalyzer 1.16.1

It's my most common failed test :-/

[2017-11-03 06:19] codykonior commented on #710
I get the same issue, v 1.16.1

[2017-11-11 18:47] RobDesideri opened #829 "'PSUseDeclaredVarsMoreThanAssignments' in case of env variable"
When you declare an `env` variable and not use in current script, PSScriptAnalyzer show the `PSUseDeclaredVarsMoreThanAssignments` warning.

Specific use case: I set the `$Env:GIT_WORK_TREE` for git configuration; PSScriptAnalyzer show: `The variable 'GIT_WORK_TREE' is assigned but never used. (PSUseDeclaredVarsMoreThanAssignments)`

[2017-11-14 23:19] TravisEz13 opened #830 "Should have a rule that verifies that scripts are securely signed"
BinSkim has a rule like this and the code is here:  https://github.com/Microsoft/binskim/blob/master/src/BinSkim.Rules/SignSecurely.cs

[2017-11-22 18:36] ThmsRynr opened #831 "PSUseDeclaredVarsMoreThanAssignments false positive when used via Get-Variable"
The PSUseDeclaredVarsMoreThanAssignments rule will erroneously throw a warning if a variable is declared but only used via the `Get-Variable` cmdlet.

# Steps to reproduce
Create a .ps1 file with the following contents.
[code]
Examine the file with PSScriptAnalyzer.
[code]
A warning will be created.
[code]
## Screenshot
![image](https://user-images.githubusercontent.com/13203965/33144045-08e3e222-

[2017-11-22 18:42] JimMoyle commented on #812
$items = 1,2,3,4
ForEach ($item in $items){
 Do-Something -thing $item
}

In this case ForEach isn't acting as an alias of ForEach-Object, it's just a loop.  In this case failing the lint test is wrong.

[2017-11-24 11:31] JohnLBevan opened #832 "PSUseDeclaredVarsMoreThanAssignments does not detect declared variables"
PSScriptAnalyzer correctly displays `PSUseDeclaredVarsMoreThanAssignments` given the following code:

`$someVariable = 'some value'`

However, we can prevent this by declaring a type for variable a type.  e.g.

`[string]$someVariable = 'some value'`

[2017-11-24 11:32] JohnLBevan opened #833 "PSUseDeclaredVarsMoreThanAssignments does not detect variables with multiple assignments"
PSScriptAnalyzer correctly displays `PSUseDeclaredVarsMoreThanAssignments` given the following code:

`$someVariable = 'some value'`

However, we can prevent this by declaring a type for variable a type.  e.g.

[code]

[2017-11-30 15:37] mcollera opened #834 "psdscuseidenticalmandatoryparametersfordsc errors"
GET/SET/Test have identical parameters.

param
    (
        [Parameter(Mandatory=$true)]
        [System.String]
        $DistinguishedName,

        [Parameter(Mandatory=$true)]
        [Microsoft.Management.Infrastructure.CimInstance[]]
        $AccessControlList,

        [Parameter(Mandatory=$false)]
        [bool]
        $Force = $false
    )

I get this error when the rule runs.

Invoke-Sc

[2017-12-02 21:45] bergmeister commented on #828
Does not repro for me using the latest version `1.16.1` on PowerShell 5.1 for ` Invoke-ScriptAnalyzer -ScriptDefinition '$MyObj | % { @{$_.Name = $_.Value} }'`
Please provide more details.

[2017-12-02 21:50] bergmeister commented on #834
Your repro seems to be incomplete. Using PSScriptAnalyzer on your Param block is fine for me. Please provide more details

[2017-12-02 21:57] bergmeister commented on #831
Thanks for reporting the case. However, it is a known issue that `PSUseDeclaredVarsMoreThanAssignments` can produce false positives for more than a year and there are several similar issues in this repo already. Given the low ressources on this project from the Microsoft side at the moment, it might take quite some time until `PSUseDeclaredVarsMoreThanAssignments` get fixed. Nevertheless it is sti

[2017-12-02 21:58] bergmeister commented on #832
Thanks for reporting the case. However, it is a known issue that PSUseDeclaredVarsMoreThanAssignments can produce false positives for more than a year and there are several similar issues in this repo already. Given the low ressources on this project from the Microsoft side at the moment, it might take quite some time until PSUseDeclaredVarsMoreThanAssignments get fixed. Nevertheless it is still g

[2017-12-02 21:58] bergmeister commented on #833
Thanks for reporting the case. However, it is a known issue that PSUseDeclaredVarsMoreThanAssignments can produce false positives for more than a year and there are several similar issues in this repo already. Given the low ressources on this project from the Microsoft side at the moment, it might take quite some time until PSUseDeclaredVarsMoreThanAssignments get fixed. Nevertheless it is still g

[2017-12-02 22:00] bergmeister commented on #829
Thanks for reporting the case. However, it is a known issue that PSUseDeclaredVarsMoreThanAssignments can produce false positives for more than a year and there are several similar issues in this repo already. Given the low ressources on this project from the Microsoft side at the moment, it might take quite some time until PSUseDeclaredVarsMoreThanAssignments get fixed. Nevertheless it is still g

[2017-12-02 22:07] bergmeister commented on #825
Although `PSUseDeclaredVarsMoreThanAssignments` is known to produce false positives at times, it it correct this time. I am suprised your script works but this might be because PowerShell caches the variables in a `PSSession`. The correct usage would be

`$VMDetails = Invoke-Command -Session $S -ScriptBlock {Get-VM $VM}`

[2017-12-02 22:15] bergmeister commented on #823
The correct and easier way to retrieve all rules is `Get-ScriptAnalyzerRule`.
The alias name that you are looking for is `PSAvoidUsingCmdletAliases`, therefore you can retrive it using `Get-ScriptAnalyzerRule -Name PSAvoidUsingCmdletAliases`
I don't understand your question about ConfigurableRule type. Can you please elaborate in case this answer has not solved your question please.

[2017-12-02 23:45] chriskuech commented on #828
No longer repros for me either

[2017-12-02 23:56] bergmeister commented on #828
Ok. Thanks. Could you otherwise try it on the file in which  it was originally? I would be happy to look into it even if it's quite a long script since I recently opened a new PR that allows me to attach the Debugger in VS to it very easily.

[2017-12-03 13:39] bergmeister commented on #832
The problem is essentially [this](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Rules/UseDeclaredVarsMoreThanAssignments.cs#L136) line:
[code]
`[string]$someVariable` is a `MemberExpressionAst` and the functions that are called below expect a `VariableExpressionAst`. One cannot cast directly from a `MemberExpressionAst` to a `VariableExpressionAst`, therefore I guess the best wou

[2017-12-03 15:23] bergmeister commented on #831
This one looks tricky/expensive because one would need to create an instance of PowerShell using `System.Management.Automation.PowerShell.Create()` in order to parse the ast as `Microsoft.PowerShell.Commands.GetVariableCommand`. This is needed because `Get-Variable` can be called in various ways and also has an `gv` alias.

[2017-12-03 17:37] chriskuech commented on #828
I just tried to repro this issue more intensively.

I ran combinations of
* `Invoke-ScriptAnalyzer . -Recurse` vs `Invoke-ScriptAnalyzer -ScriptDefinition $snippet`
* Absense vs present of `$snippet` in a file
* Absence vs presence of .\PSScriptAnalyzerSettings.psd1

The error case is only when PSScriptAnalyzerSettings.psd1 is defined and the snippet is in a file.  The associated PSScriptAnalyzerS

[2017-12-03 20:15] bergmeister commented on #828
Sorry, it still does not repro for me using your settings [file](https://github.com/Microsoft/DscScaffolding/blob/master/PSScriptAnalyzerSettings.psd1)
 with script.ps1 having the content `$MyObj | % { @{$_.Name = $_.Value} }`
[code]
I have tried with and without `-Recurse`

[2017-12-03 20:22] chriskuech commented on #828
Can you try explicitly testing `Invoke-ScriptAnalyzer . -Recurse` with the correct file system setup?

[2017-12-03 20:41] bergmeister commented on #828
Aha. I found that I can reproduce now with `Invoke-ScriptAnalyzer .`  but only if the `PSScriptAnalyzerSettings.psd1` is in the current directory. So my guess is that this is where it comes from (PSScriptAnalyzer also analyses manifest files by default). Thanks for your persistence. I can now finally look into it.

[2017-12-03 21:36] bergmeister commented on #828
My findings so far is that it gets triggered by enabling the `PSAlignAssignmentStatement` setting `CheckHashtable` (although I am not sure why it does not happen if the settings are consument via the `-Settings` parameter). It basically goes wrong in a private method of the `AlignAssignmentStatement` class rule. A fix will be underway soon.

[2017-12-04 00:34] bergmeister commented on #802
Will close now since the PR was merged.

[2017-12-04 00:34] #802 closed

[2017-12-04 09:42] LaurentDardenne commented on #823
_I don't understand your question about ConfigurableRule type._
Ok.

1-The [AvoidAlias](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Rules/AvoidAlias.cs#L3) class should they not be inherited from the class ConfigurableRule ?
2-Today Get-ScriptAnalyzerRule can not filter configurable rules. The [documentation](https://github.com/PowerShell/PSScriptAnalyzer/tree/2114db7ad5bc378e1

[2017-12-04 12:45] bergmeister commented on #823
Aha, I see now what you mean. Yes, I think you are right that the rule should probably inherit from `ConfigurableRule` but filtering configurable rules in `Get-ScriptAnalyzer` sounds more like a new (but useful) feature to me.

[2017-12-04 15:30] ThmsRynr commented on #831
@bergmeister I checked the other issues on this repo for problems with this rule and found a few, but didn't see any for this particular false positive. Given the wide array of challenges with this rule, I often find myself telling junior scripters to omit this rule from their testing/review processes. I am certainly sympathetic that it can be hard to dedicate resources to issues like this one, bu

[2017-12-04 17:42] bergmeister commented on #831
@ThmsRynr You can still just suppress the warning on a case by case basis. I also found that using `script` scope makes false positives go away sometimes. As an enterpsising member of the community I have already done PRs on this repo and currently have 4 pending PRs [here](https://github.com/PowerShell/PSScriptAnalyzer/pulls) with 2 of them improving this rule, so feel free to contribute as well.

[2017-12-04 17:47] ThmsRynr commented on #831
Awesome! Looking forward to seeing them merged :)

[2017-12-05 16:47] BatmanAMA opened #840 "Add -EnableExit parameter to ease CI usage"
### Current Behavior

Invoke-ScriptAnalyzer always sets the exit code to 0

### Proposed behavior

When the analyzer outputs problems, enable exit would also generate an exit code equal to the number of problems found.

[2017-12-06 05:17] tylerl0706 commented on #827
I tried running Script Analyzer on its own against the original repro and I'm seeing the warning. Here's the repro:

In the file `repro.ps1`:
[code]
in a terminal:
[code]
The output:
[code]

[2017-12-06 22:54] rebro-msft opened #841 "AzureRM.* modules held in use by PSSA when Cluster 0.0.0.1 is scanned, prevents uninstall"
### Repro steps
[code]

### Expected Behavior
I should be able to uninstall the AzureRM.* modules.  I don't expect PSSA to hold on to them.

We are unable to uninstall any of the AzureRM.* modules because something in PSSA is holding on to them.  This appears to only happen for the Cluster 0.0.0.1 module.

[2017-12-07 19:12] bergmeister commented on #841
Can you please post the exact error message? Does that happen even if you close PowerShell and try to uninstall in a new session?

[2017-12-07 19:27] rebro-msft commented on #841
[code]

It succeeds if I close and open a new session.

[2017-12-07 19:38] bergmeister commented on #841
How is this related to PSSA? Guessing from the error message I'd say that you are not elevated (i.e. you need to launch PowerShell as an Administrator).

[2017-12-07 19:42] bergmeister commented on #841
When trying to repro, I can confirm that `AzureRM.Websites` cannot be uninstalled, however can see no link to PSSA but rather to the `AzureRM` or [PowerShellGet](https://github.com/PowerShell/PowerShellGet). Why do you even want to uninstall a dependency? The error that I get is:
[code]

[2017-12-07 20:11] rebro-msft commented on #841
I was definitely running this as elevated.
When you tried to repro, did you run both a regular scan and a scan with custom rules?  Or just the regular scan?
The link to PSSA is that if I don't run Invoke-ScriptAnalyzer on the Cluster module, I am able to uninstall the AzureRM.* modules just fine.  To me, this indicates something in PSSA is holding on to them.  And I was under the impression that P

[2017-12-07 20:23] bergmeister commented on #841
I tried to repro an a clean `WinServer 2016` machine and it uninstalls fine in the same PowerShell session. Yes, I used [this](https://github.com/MathieuBuisson/PowerShell-DevOps/blob/master/CustomPSScriptAnalyzerRules/MBAnalyzerRules.psm1) custom rule (see my comment above). Maybe your specific rule is holding on to it?
The only thing that I noticed is that I had to install Cluster using the `-Al

[2017-12-07 20:32] rebro-msft commented on #841
Yep, I've got PSSA 1.16.1 installed.
I thought you were onto something with it being about our custom rules, so I tried the repro steps without the custom rules run.  Same issue unfortunately.
Interesting, it didn't prompt me for ```-AllowClobber```.  What sort of things should I be looking for on my system that would mess with PSSA like this?

[2017-12-07 20:44] bergmeister commented on #841
I had a look a the `Cluster` installation and I can say that it declares a dependency on `AzureRM`, therefore you should also uninstall AzureRM`.
Furthermore I looked into the installation folder and Cluster 0.0.0.1 ships with the .git, .vscode folder! Also, it seems that the latest version is already `0.0.0.3` and don't understand why you test an outdated version of something that seems to be pre

[2017-12-07 21:14] rebro-msft commented on #841
I should clarify, I work on the PowerShell Gallery team.  I implemented the prerelease versioning feature outlined in that blog post :)
The PowerShell Gallery runs a security scan on all published items, regardless if prerelease or not.  We have been seeing the above issue in our security scan for all versions of Cluster, not just 0.0.0.1.
Thanks for your help investigating.  I think you're right,

[2017-12-07 21:30] bergmeister commented on #841
Haha, what a coincidence. Well in that case thanks for implementing this new feature. :-)

[2017-12-07 21:47] rebro-msft commented on #841
You're welcome, hope you find it useful :-)
Whether the issue is in Cluster or PSSA or our system, I think PSSA should analyze the module in a different appdomain or process.  Then if something does get loaded somehow, we won't hit this issue.

[2017-12-07 23:26] rebro-msft commented on #841
A coworker talked with Kapil who used to work on PSSA.  His findings:

[2017-12-07 23:39] bergmeister commented on #841
@kapilmb

[2017-12-22 22:20] Jaykul commented on #699
It also happens if you define a variable in the begin block of the ForEach, like this:

[code]

[2017-12-25 04:22] kjacobsen opened #844 "False Positive on approved verb"
Hi,

Creating a CMDlet, let's call it ```ConvertTo-Bob``` (or even ```Convert-ToBob```).

Script Analyser produces the following output:

[code]

Convert, ConvertTo and ConvertFrom are all approved verbs if you look at ```Get-Verb```.

[2017-12-25 04:23] #844 closed

[2017-12-25 04:23] kjacobsen commented on #844
Typo, I see it now. Too much Christmas pudding!

[2017-12-28 22:48] StingyJack commented on #87
@raghushantha - This was titled "Visual Studio Integration" and that is still missing in VS 2017 Ent and other editions.

If its not missing, please tell me why its not flagging errors and warnings in an open script.

[2018-01-03 09:54] rishav19 commented on #735
It worked Thanks :)

[2018-01-11 19:54] Jaideep-Sarkar opened #846 "Unable to capture the outcome of PSCredential when called VIA exe"
Hello Everyone,
In order to hide the Credential logic (basically hiding the AES Key File and Encrypted Password file location) added inside Powershell Script, I created a command-line exe which runs and returns me the credential much like the below code will do ..

`$userName = get-content "<path>\Some-User.txt"

$key = Get-Content "<path>\Some-key.txt"

$Token = get-content <path>\Some-Password.t

[2018-01-12 14:20] exchange12rocks opened #847 "Formatter adds spaces around a hyphen, but only if it is followed by a variable"
Unformatted code:
[code]

Formatted code:
[code]

As you can see, the formatter adds spaces around a hyphen which is followed by a variable but does not add them if a hyphen is followed by a number. I think, the behavior should be consistent.

[2018-01-18 20:45] StingyJack opened #849 "is there a way to mark specific lines to ignore for specific rules?"
Like pragma in c# can disable a warning for a line and then enable it again.

As an example, I've got a few variables that are used to within Invoke-Expression's, and the script analyzer flags them as unused variables but they are actually used. I dont want to ignore the rule for the entire script, just these few variables.

Is there a way to do this?

[2018-01-19 02:48] chriskuech opened #850 "PSScriptAnalyzer fails to find types"
I have working code containing at the top:

[code]

In the middle of my code I define variables of type `[IStorageContext]` and `[PSResourceGroupDeployment]`.  When the script opens in VS Code, these types are flagged as not found by PSScriptAnalyzer, but found after changes.  Similarly, this same code is being flagged by PSScriptAnalyzer in PowerShell Gallery.

[2018-01-19 21:24] StingyJack commented on #483
Sorry for necro-ing this post, but is there any way to include this rule for analysis of scripts?  I find myself getting burned more often by the sloppy typing than whatever the noise could be.

Isn't this a best practice analyzer? Those all sound like hard to maintain or "bad" practices.

[2018-01-20 18:31] bergmeister commented on #833
@JamesWTruher Can we consider closing this now that the PR is merged?

[2018-01-20 18:32] bergmeister commented on #832
@JamesWTruher Can we consider closing this now that the PR is merged?

[2018-01-20 22:23] bergmeister opened #851 "Upgrade from .Net Core 1.x to 2.0"
As discussed [here](https://github.com/PowerShell/PSScriptAnalyzer/pull/835#issuecomment-359205003) we want to have PSSA on .net core v2 but not higher than `2.0.5`, which is the version of the runtime of PowerShell Core 6.0.1, which is the oldest, supported PowerShell Core version at the moment.

[2018-01-21 00:05] bergmeister commented on #849
@StingyJack  You could define a local function and suppress it on this function only.
Because of the way scoping works in PowerShell (a child scope inherits the variables from its parent), you do not even need to pass in the variables in theory (although personally I am against this practice for the purpose of clean code).

[2018-01-21 08:13] #828 closed

[2018-01-21 11:25] bergmeister commented on #850
@chriskuech I cannot repro by putting the following content into a `file.ps1` file and running `Invoke-ScriptAnalyser .\file.ps1` (or opening it in the latest version of VSCode):
[code]

[2018-01-21 11:45] bergmeister commented on #840
@BatmanAMA The PR is close to getting merged and I think/hope we can expect a new release of PSSA coming up soon.

[2018-01-21 13:15] chriskuech commented on #850
Can you try and repro by opening Types.ps1 in GitHub.com/Microsoft/cluster ?

I discovered this issue from a false positive automated PSGallery email from @Tyler<mailto:tyleonha@microsoft.com>, for whom this may be of interest.

Thanks,

Chris

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Christoph Bergmeister <notifications@github.com>
Sent: Sunday, Janua

[2018-01-21 13:31] bergmeister commented on #850
It repoes now using the referenced [Types.ps1](https://github.com/Microsoft/Cluster/blob/master/Types.ps1) file.
A [minimal, complete and verifiable example](https://stackoverflow.com/help/mcve) is:
[code]
It seems to be an issue with the variable being inside a class because the following makes no problems if it is not inside a class
[code]

[2018-01-21 14:25] SeeminglyScience commented on #850
@bergmeister Type resolution inside classes is done at parse time, outside of classes it's done at run time.  This happens because the classes aren't loaded initially.  Once they are loaded (either through automatically importing for command completion or manually imported) the syntax markers disappear.

How this is **supposed** to work is you either include the module in your required modules/ass

[2018-01-21 18:49] #840 closed

[2018-01-21 18:55] #821 closed

[2018-01-22 01:10] #851 closed

[2018-01-22 20:45] JamesWTruher commented on #847
this is really a reflection of the rule, right - the formatter is a red-herring
[code]

[2018-01-22 20:51] JamesWTruher commented on #849
something like?
[code]
or something more?

[2018-01-22 21:04] bergmeister commented on #849
@JamesWTruher Is this a future design proposal because I tried it and it did not work. If so, then yes, I would upvote this. As a simple starter I would suggest something that just suppress a warning on the next executing line similar to ReSharper
[code]

[2018-01-22 22:04] JamesWTruher commented on #849
It's definitely not present, I was just exploring the usability of the suggestion. I do think it would be generally useful and something that would benefit from some sort of RFC. I would like to spark the discussion, for sure.

[2018-01-22 22:07] JamesWTruher commented on #833
definitely - I would rather @JohnLBevan do it (as he opened the issue). On the other hand, if you as the fixer want to close it, that's also fine.

[2018-01-22 22:07] JamesWTruher commented on #832
yep

[2018-01-22 22:07] #832 closed

[2018-01-22 22:17] bergmeister commented on #833
@JamesWTruher Although it would be great if the person raising this issue can sign this off, I do not think we can assume that everyone knows or has the time to compile PSSA themselves. I myself do not have rights to close issues as a community member...

[2018-01-23 09:32] ECNU3D commented on #675
@kapilmb
Hi,
I tried to use CustomRulePath in the setting files, and surprisingly, it works. However, once you used CustomRulePath, your InculdeRules and ExcludeRules setting won't take effect.

Do you have any idea what happened?

[2018-01-23 18:26] #833 closed

[2018-01-23 20:32] JamesWTruher commented on #787
I definitely want to move toward an improved  experience for folks working both in PSCore and PSSA. PSSA is already at 2.1.4 (although, we will need to roll back to 2.0 to match PSCore) that way you only need one set of dotnet cli tools to build both

[2018-01-23 20:34] JamesWTruher commented on #812
this doesn't repro on 1.14 on PSCore, is this a windows ps only issue?

[2018-01-23 22:49] bergmeister commented on #787
OK, I don't mind rolling back the SDK one minor version but keep in mind that PSCore want to upgrade the SDK to 2.1.4 soon, see comment [here](https://github.com/PowerShell/PowerShell/pull/5903#issuecomment-357845840)
What do you think about the issue that CI does not work in forks but due the WMF4 image not being available?

[2018-01-24 08:30] Infradeploy commented on #812
To be clear: There are basically 2 foreach's. Foreach-object is a command, but foreach is a keyword. Foreach-object takes commands from the pipeline where foreach does not. Foreach is not always an alias for foreach

[2018-01-24 11:43] JimMoyle commented on #812
Here is the explanation to this:
https://blogs.technet.microsoft.com/heyscriptingguy/2014/07/08/getting-to-know-foreach-and-foreach-object/

[2018-01-24 16:21] StingyJack opened #857 "Is there a way to have Invoke-Script report "no issues found"?"
When running it in VS as an external tool that reports to the VS output window, if it finds no issues it reports nothing.   I cant easily tell if that is the correct result, or if something is hanging as no output is emitted.

Is there a way to have it report that it ran but found no issues?

[2018-01-25 22:09] JamesWTruher commented on #846
This isn't really the right forum for this sort of question (stackoverflow.com or powershell.org might be better for that).

However, i do have doubts about the process here. The problem is that invoking a native executable is not going to be able to return anything other than a string, and getting an instance of PSCredential is not possible AFAIK.

[2018-01-25 22:09] #846 closed

[2018-01-25 22:23] JamesWTruher commented on #831
@ThmsRynr, @bergmeister the PRs have been merged, could you take a look?

[2018-01-26 08:39] JamesWTruher commented on #819
@dantraMSFT
Some things will be rather difficult to do, providing a partial solution should be doable, but something like the following might not be possible via inspection (given the following m.psm1 file)
[code]
It would be quite difficult to catch that via the ast since it means getting a runtime value, would a partial solution be better than no solution?

[2018-01-26 08:45] JamesWTruher commented on #812
i understand that there are multiple foreach (foreach-object and the foreach keyword), I don't see any warnings given the example above. Replacing `foreach` with `foreach-object` in the above example produces a syntax error (as it should).

[2018-01-26 09:03] JamesWTruher commented on #793
@LeeDailey  this page might help:  http://www.terminally-incoherent.com/blog/2009/04/10/the-only-correct-indent-style/ provide multiple examples

[2018-01-26 22:40] JamesWTruher commented on #265
@Jaykul @rkeithhill @KirkMunro @JennDahm - this is a great discussion, but I'm not sure where we should go from here. Should we track this and build a rule, or is it not important enough and we should close this as "no thanks", just let it ride, or split it into two (built-ins vs assignment in child scope)

FWIW, I'm slowly reviewing _all_ of the open issues in this repo, so I'm going to have a bu

[2018-01-26 23:08] rkeithhill commented on #265
I'd like to see a rule that fires when folks assign to built-in variables like $args, $input, $_ and $PSItem.  For the other use cases (users overwriting their own variables), I think no rule is necessary.

[2018-01-26 23:22] JamesWTruher opened #858 "Need rule which catches assignments to powershell builtin variables"
assignments to variables like $args and $_, etc should be caught.

[2018-01-26 23:24] JamesWTruher commented on #265
thanks for the response - I've created https://github.com/PowerShell/PSScriptAnalyzer/issues/858

[2018-01-27 01:28] vors commented on #265
Hey guys, sorry for chiming it so late too. Wow, was few years ago, so I may not recall correctly, but here is my 2 cents

@KirkMunro wrote

The specific case that would be good to avoid is essentially what's posted in the description.

[code]

I think you absolutely correctly argue that this is how language designed. My point here is that this is very very steep learning curve and I'm sure a lot

[2018-01-27 05:26] Jaykul commented on #265
If you're going to start warning people when they're doing things that may not act quite the way they expect, that's a *very* long list, which depends very much upon what their previous experience is.

But in theory, I don't mind a set of rules like that, if they're in a set, and if they're low-importance (i.e. "info" vs. "warning")...

But it's going to be noisy -- and it's going to be hard to wr

[2018-01-28 00:34] bergmeister commented on #831
@JamesWTruher I tried it but the PRs did not fix this issue and the reason seems to be because the variable is accessed only indirectly. This issue is tricky and some people might even say it is by design because the variable itself is not used directly.
@ThmsRynr Can you give an example where you have to use `Get-Variable` to retrieve the variable value in this way? The purpose of the command is

[2018-01-28 12:29] bergmeister commented on #857
At the moment, you can just use the `-Verbose` switch and you will be able to watch PSSA doing its work so that you know it is not hanging. If you use `-OutVariable` (a common PowerShell parameter) then you will be able to also inspect the returned object afterwards whilst still seeing the returned object.
But generally speaking, we could consider writing a summary/report similar to Pester [here](

[2018-01-28 13:40] iSazonov commented on #787
As I commented in #854

I push https://github.com/PowerShell/PowerShell/pull/6054 to move to SDK 2.1.4

[2018-01-28 23:15] AceHack opened #860 "the file contains a virus or potentially unwanted software"
PackageManagement\Install-Package : Package 'PSScriptAnalyzer' failed to be installed because: Operation did not complete successfully because the file contains a virus or potentially unwanted software.

Shows up as Trojan:PowerShell/Peasecto.A in Windows Defender

[2018-01-28 23:35] KarlGW commented on #860
I encountered this as well when I re-installed the OS on my work laptop and after installing VS Code and added the PowerShell extension.

[2018-01-29 00:26] KarlGW commented on #860
![ps2](https://user-images.githubusercontent.com/5736625/35489154-54cecb08-0493-11e8-80a8-16679cb7ec48.png)

This is the flash from Windows Defender.

[2018-01-29 07:17] KevinMarquette commented on #860
The Windows Defender issue is resolved in definition update 1.261.424.0

    PS:> Get-MpComputerStatus | Select AntivirusSignature*

    AntivirusSignatureLastUpdated   : 1/28/2018 8:28:37 PM
    AntivirusSignatureVersion       : 1.261.424.0

[2018-01-29 07:31] bergmeister commented on #860
Yes, this is a false warning that even affected PowerShell Core
https://twitter.com/markekraus/status/957743213749686272?ref_src=twcamp%5Eshare%7Ctwsrc%5Em5%7Ctwgr%5Eemail%7Ctwcon%5E7046%7Ctwterm%5E2

[2018-01-29 07:34] bergmeister commented on #860
https://www.microsoft.com/en-us/wdsi/threats/malware-encyclopedia-description?Name=Trojan:PowerShell/Peasecto.A&ThreatID=-2147241818

[2018-01-29 09:55] KarlGW commented on #860
Thank you for the information. I was about to reformat my machine, again.

[2018-01-29 12:52] bergmeister commented on #860
@AceHack Can you close the issue now please?

[2018-01-29 13:44] AceHack commented on #860
@betgmeister I have not been able to get the updated definitions yet to verify.  I will once I do.  Thanks.

[2018-01-29 14:11] slavizh commented on #860
I have newer definitions but PSScriptAnalyzer is still tracked as virus:
PS C:\WINDOWS\system32> Get-MpComputerStatus | Select AntivirusSignature*

AntivirusSignatureAge AntivirusSignatureLastUpdated AntivirusSignatureVersion
--------------------- ----------------------------- -------------------------
                    0 29.1.2018 г. 12:35:25         1.261.434.0

PS C:\WINDOWS\system32> install

[2018-01-29 20:49] StingyJack commented on #857
By VS i mean Visual Studio Enterprise not VSCode.   I can't bring myself to like VSC for powershell with how often I've had to kill the posh host from task manager just to start debugging again.

I can do the out variable with a little bit of wrapper script, but a `-Report` or `-Summary` switch would be great.

[2018-01-29 20:53] bergmeister commented on #857
Sounds good. My comment about `VSCode` was rather due to the fact that its powershell extension contains PSSA and therefore always writing to host could inconvenience/break them. Once I know how PSSA integrates with those 3rd party tools, we can make a decision if the report/summary is being displayed by default or only via a switch.

[2018-01-29 20:58] bergmeister commented on #860
Damn, with the latest version `1.261.449.0` of Windows Defender I have these problems now as well although Microsoft claims it was immediately fixed on 28/01/2018. Let's leave the issue open then until Microsoft has resolved it. [PowerShellGet](https://github.com/PowerShell/PowerShellGet) has the same problem so it does not seem to be the fault of the modules themselves.

[2018-01-29 21:04] KevinMarquette commented on #860
Can you try also doing a Windows update to see if that makes a difference.
I feel like I am chasing inconsistent results on different machines.

On Jan 29, 2018 12:58 PM, "Christoph Bergmeister" <notifications@github.com>
wrote:

[2018-01-29 21:08] bergmeister commented on #860
@KevinMarquette Maybe, I was thinking that as well. Unfortunately Windows update got broken for my machine (that I just use at home, not work!)  a few weeks ago with the Meltdown updates and I am due a fresh re-install. I can really understand now that it is a feature of the Pro version of Windows to defer updates.

[2018-01-30 06:34] slavizh commented on #860
Now seems fixed at least for me with latest updates.

[2018-01-30 22:43] bergmeister commented on #858
Just FYI that I am currently implemting the rule. The requirements seem to be relatively clear this time to get started.

[2018-01-31 09:10] LaurentDardenne commented on #858
Your implementation does not seem to consider these cases:
[code]

[2018-01-31 09:50] bergmeister commented on #858
@LaurentDardenne Thanks but my implementation is work in progress and just a dummy prototype at the moment, I will go through all variables thoroughly before opening a PR.

[2018-01-31 13:23] nbuuck commented on #860
False positive did not occur with version `1.261.564.0` released 1/31/2018 6:52 AM EST.

[2018-01-31 17:37] BatmanAMA commented on #840
@bergmeister  - You're awesome! I actually opened this with the plan to circle back in january to do it. One thing off my plate and my CI is a little cleaner.

[2018-01-31 23:26] bergmeister commented on #858
@LaurentDardenne What I currrently have on my branch is just a simple prototype where I just added a couple of variables so that I could manually test if the detection logic is ok. Before submitting a PR there will be more work to analyze the variables and there will probably a split into 2 categories: One is variables that are definitely not allowed to be assigned like `$false` or `$null` (becaus

[2018-01-31 23:32] bergmeister commented on #860
There was a simar issue [here](https://github.com/PowerShell/PowerShell/issues/6056) also in the PowerShell Core repo that is closed by now since it seems to be resolved. If no one has any objections, then I'd like the issue to get closed in the next days? It is good to have and raise such issues so that people can search for it and find an answer but it clearly seems to be an external problem. @A

[2018-01-31 23:34] #860 closed

[2018-01-31 23:43] bergmeister opened #861 "Consider publishing pre-releases"
Since the PSGallery supports pre-releases now, this would be a good opportunity to test the waters before the next version goes out into the wild. We had the upgrade to the new SDK, which was a big change and hopefully it has not broken anything and also new parameters like e.g. `-Fix` and `EnableExit` that people could play with and give feedback.
Given that PSSA gets integrated into the `PowerSh

[2018-02-01 00:21] bergmeister commented on #840
@BatmanAMA You're welcome. Feel free to pick any other issues if you feel like or make other suggestions. I personally use PSSA in CI like [that](https://github.com/bergmeister/posh-profile/blob/master/test/psscriptanalyzer.tests.ps1) using Pester in case you're interested.

[2018-02-01 12:55] SeeminglyScience commented on #861
Something worth noting is that PSES will pick out the highest version of PSSA installed.  It doesn't necessarily always use the included module, it's more of a "minimum version" fallback.  The logic for selecting the module to use is [here](https://github.com/PowerShell/PowerShellEditorServices/blob/38c14502f73c6eb2de3b00be74135e43c2420205/src/PowerShellEditorServices/Analysis/AnalysisService.cs#L

[2018-02-01 13:59] LaurentDardenne commented on #858
For the code, the FindAll() call looks for _AssignmentStatementAst_ and not _ParameterAst_, it may be a similar control but in a different context.

According to this:
[code]
Except for $OFS which sets a processing, I do not see for the moment, other variables of this list for which one authorized an assignment.
$Matches and $PSBoundParameters can be modified but by method calls.

Maybe $Matches c

[2018-02-01 19:08] BatmanAMA commented on #840
That's not a bad idea - I personally split it into a different step (I have test and analyze) but to be honest, I rarely analyze without testing and vice versa.

[2018-02-02 19:59] LaurentDardenne opened #863 "AvoidUsingPositionalParameters does not seem to be triggered"
[code]
Severity must be  '[Information](https://github.com/PowerShell/PSScriptAnalyzer/blob/master/Rules/AvoidPositionalParameters.cs#L116)' or '[Warning](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/AvoidUsingPositionalParameters.md)' ?

[2018-02-02 22:31] bergmeister commented on #863
You are right that the documentation does not match the implementation. I think warning would make more sense because not using positional parameters may cause a problem since the definition of warning level is:

You are also right that the 2nd example seems to be an embarrassing bug because it is very similar to the example given in the rule documentation [here](https://github.com/PowerShell/PSSc

[2018-02-04 09:28] LaurentDardenne commented on #863
Thanks for the links.
I looked in the file change.log but I did not find any indication on this change.

For me it's more a problem of specification, what is the rule to respect?
In [PowerShellPracticeAndStyle](https://github.com/PoshCode/PowerShellPracticeAndStyle/blob/master/Style-Guide/Naming-Conventions.md) (see _Use full parameter names_.) The rule is simple and clear.
I have always believed,

[2018-02-04 10:18] bergmeister commented on #863
Ok. So basically what you want in a nutshell is the ability to override the default configuration of the threshold number? This could maybe be done via a new setting in the settings file.

[2018-02-04 15:26] LaurentDardenne commented on #858
Can be considered the following cases ?
[code]

[2018-02-05 10:40] LaurentDardenne commented on #858
Another extreme case :
[code]
Although the title indicates 'assignment', does this rule apply to all modifications of builtin variables?

[2018-02-05 20:21] bergmeister opened #871 "Internal: Build/Release inconsistencies compared to PowerShell Core repo"
@JamesWTruher is planning to do some work for making the development/CI more consistent across PowerShell repos. I'll start here listing some potential candidates:
- [ ] Pester: PsCore recently moved from version 3 to 4. PSSA is currently on version 3.4
- [x] Visual Studio Support: I already added support for being able to build and debug PSSA using Visual Studio out of the box. PsCore has a pendi

[2018-02-05 23:00] bergmeister commented on #812
I cannot repro either (tested on Windows PowerShell 5.1) and yes, I understand the foreach ambiguity. Since the person who originally raised the issue is not responding and no one else can give an example, I vote for closing this issue.

[2018-02-05 23:24] JimMoyle commented on #812
Yep also tested and now I can't repro either so yes close it.

[2018-02-05 23:49] #809 closed

[2018-02-06 00:07] #863 closed

[2018-02-06 00:43] bergmeister commented on #863
@LaurentDardenne Feel free to create a new, separate issue for your feature request of customizing the rule.

[2018-02-06 08:31] LaurentDardenne opened #874 "[Feature] Customize AvoidUsingPositionalParameters to be able to change default trigger threshold"
We may want to trigger this rule strictly.
A customizable rule with a trigger threshold number set to 3 by default may be a possible solution.
[See](https://github.com/PowerShell/PSScriptAnalyzer/issues/863)

Moreover, since the rule is 'Information' level, and the rules of this level are considered verbose,
if we use a configuration like [this](https://github.com/PowerShell/Plaster/blob/master/Sc

[2018-02-06 18:25] mattmcnabb commented on #827
I think this warning is appropriate. In your example, `$a` in the original assignment and the `$a` inside the foreach block are in two different scopes. Try this:

[code]

![image](https://user-images.githubusercontent.com/6998507/35876705-12729032-0b41-11e8-946f-0322fdae873e.png)

I don't believe there is an accurate way for PSScriptAnalyzer to guess that your intention is to use the `$a` variabl

[2018-02-06 18:57] gmitch64 opened #875 "Issue with Message suppression"
There seems to be an issue with my understanding of message suppression, or there's a bug.

I have a source file that simply is a list of variables used in our environment that I want to include in some scripts. Since they're all assigned, but never used, ScriptAnalyzer throws up the appropriate message. Given that there's almost a hundred lines in there, it makes the output very messy (and VSCode

[2018-02-06 19:02] gmitch64 commented on #849
You should be able to do it with something like

[System.Diagnostics.CodeAnalysis.SuppressMessageAttribute("PSAvoidUsingCmdletAliases", "")]

I just posted an issue where this works for suppressing the error from a single variable (PSUseDeclaredVarsMoreThanAssignments), but it doesn't seem to honor the scope flag (unless I am doing something wrong).

Graham

[2018-02-06 19:23] JamesWTruher commented on #812
@JimMoyle thanks for re-investigating!

[2018-02-06 19:23] #812 closed

[2018-02-06 19:29] bergmeister commented on #827
There are various issues with false positives of this rule that would probably need to be re-written from the ground up using a different technique to overcome itse limitations. I plan to collate all those issues in a meta-issue at some point.

[2018-02-07 00:53] #799 closed

[2018-02-07 10:11] LaurentDardenne opened #876 "AvoidDefaultValueForMandatoryParameter: The documentation is wrong"
The documentation does not match the [implementation](https://github.com/PowerShell/PSScriptAnalyzer/blob/master/Rules/AvoidDefaultValueForMandatoryParameter.cs#L49), it appears to be the documentation of an old rule (PSProvideDefaultParameterValue) that has been [removed](https://github.com/PowerShell/PSScriptAnalyzer/issues/458) and this one is always quoted in the [documentation](https://github

[2018-02-07 11:04] LaurentDardenne opened #877 "AvoidDefaultValueForMandatoryParameter : The rule is not be triggered when the value of the parameter 'Mandatory' is an integer"
If, for a parameter attribute, the value of the parameter 'Mandatory' is an integer, the rule will not be triggered:
[code]
Even if this writing is not a good practice since the runtime allows it, the rule should be triggered.
Unless to create a rule to handle this type of writing :-)

[code]

[2018-02-07 21:13] bergmeister commented on #876
@LaurentDardenne Thanks for the investigation and detailed report. Feel free to open a PR with a fix. I think we can also improve the implementation, I don't understand either why the author decided to trigger it only when using cmdletbinding.

[2018-02-07 21:22] bergmeister commented on #877
Good spot. There are many scripts that the PowerShell language parser would accept although it will blow up at runtime. Adding extra validation in PSSA makes sense in my opinion. I think the special case that you pointed out is rather rare but I'm sure PSSA would accept a PR with this improvement and I would be happy to help/assist you as far as I can. In general I'm happy to add new features/impr

[2018-02-07 22:22] bergmeister opened #878 "Improve/extend new PossibleIncorrectUsageOfAssignmentOperator rule to also catch unintentional usage of '>' and '>=' inside if statement"
The unintentional usage of `=` or `==` inside if statements also applies to `<`, `<=`, `>` and `>=` comparison and is even easier to make when switching languages (.e.g. `C#` to `PowerShell`). The first 2 cases are already covered by the PowerShell language parser, which will throw the error `The '<' operator is reserved for future use at`.
Mistakingly using `>` instead of `-gt` happened not only

[2018-02-07 22:39] bergmeister opened #879 "Upgrade from netstandard1.6 to netstandard2.0"
As discussed in PR 870 [here](https://github.com/PowerShell/PSScriptAnalyzer/pull/870#discussion_r166152148), @JamesWTruher prefers to move to netstandard2.0 to match it closer to the PowerShell Core repo for consistency that uses netcore2.0, which is practically speaking very similar to netstandard2.0
This has the only disadvantage that netstandard2.0 is not implemented by netcore 1.x runtimes an

[2018-02-08 16:15] LaurentDardenne opened #880 "Question : how to retrieve the settings object in an external rule inside a script module ?"
Is it possible to retrieve the settings object in an external rule inside a script module ?
A priori [here](https://github.com/PowerShell/PSScriptAnalyzer/blob/2056fe0c63dc63dfac2cc18cb79b1373d7f5ec6f/Engine/ScriptAnalyzer.cs#L1169) the rule module does not know anything about the caller.
The goal is to create a configurable Powershell rule.
Is this possibility only accessible in C# ?

[2018-02-08 17:18] gmitch64 commented on #875
Thanks, that seems to make it work as I expected it.

What I am missing is my understanding of my I need to specify a Param() for it, and why it needs to be the first lines in the script.  The more you learn, the more there is that you need to learn :)

Thanks very much for the solution, and for giving me more work to do :)

[2018-02-08 20:20] bergmeister commented on #875
@gmitch64 You're welcome, I am glad it worked out for you. PSSA works by parsing PowerShell scripts as the PowerShell AST (abstract syntax tree), which are publicly available classes from the internals of PowerShell itself. The code that  parses the script is [here](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Engine/Helper.cs#L1257) and you see here that it parses the script as

[2018-02-08 20:44] bergmeister commented on #822
@mikeclayton I don't think PSSA supports to limit the scope only to a certain variable. The Scope parameter would be e.g. `script`, `function`, or `class` and the `Target` allows filtering of functions that should suppress this rule. You would need to put the declaration therefore in a function or script of its own, similar to how I do it [here](https://github.com/bergmeister/posh-profile/blob/2b2

[2018-02-08 22:18] bergmeister commented on #878
A first working prototype is in my branch [here](https://github.com/bergmeister/PSScriptAnalyzer/tree/WarnPipelineInsideIfStatement)

[2018-02-08 23:22] bergmeister commented on #879
From [here](https://twitter.com/daviwil/status/961736926184091649)
![image](https://user-images.githubusercontent.com/9250262/36003653-dc27197a-0d26-11e8-9b86-d9f7c4365f6c.png)

[2018-02-09 18:59] smurawski commented on #850
We (myself and @darquewarrior) are also seeing this behavior on the VSTeam module which relies on the SHiPS module.

[2018-02-09 19:39] LaurentDardenne commented on #877
The method already exists, [GetValue](https://github.com/PowerShell/PSScriptAnalyzer/blob/master/Engine/Extensions.cs#L145), which manages the three writings.

[2018-02-09 19:48] LaurentDardenne commented on #876
_I think we can also improve the implementation,_
For my part, I think it's a functional bug.

_Feel free to open a PR with a fix._
Not right now, sorry.

[2018-02-10 14:33] LaurentDardenne commented on #863
Another case where the rule does not trigger:
[code]
This rule does not fire because it only calls the [GetCommandInfo()](https://github.com/PowerShell/PSScriptAnalyzer/blob/010445107423e90907c59e9bac8cc7404785ca19/Rules/AvoidPositionalParameters.cs#L51) method.

[2018-02-10 14:48] LaurentDardenne opened #883 "UseCmdletCorrectly : This rule only fires for the cmdlets / functions loaded in the default runspace"
[code]
This rule does not fire because it only calls the [GetCommandInfo()](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Rules/UseCmdletCorrectly.cs#L91) method.

The [test file](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Tests/Rules/UseCmdletCorrectly.ps1) does not contain this use case.

[2018-02-10 23:36] bergmeister commented on #883
Even if this got implemented in the future, it would probably be limited to one scope and functions defined in the same file because PSSA analyses the files one by one. Loading all scripts into memory would be a huge memory and performance impact. Maybe a possible workaround would be to allow it to sniff the defined functions in the current runspace, which would add the cmdlets of the installed mo

[2018-02-11 09:20] LaurentDardenne commented on #883
_it would probably be limited to one scope and functions defined in the same file_
Yes, I do not ask for more, but not less :-)

_Maybe someone else can think of a better design idea?_
The [UseShouldProcessCorrectly](https://github.com/PowerShell/PSScriptAnalyzer/blob/cc41f6dd54d181e64f5178fcd53c0ad9e056c20b/Rules/UseShouldProcessCorrectly.cs#L66) rule builds a graph of the commands declared in th

[2018-02-11 19:24] bergmeister commented on #883
@LaurentDardenne  Thanks for the pointer to `UseShouldProcessCorrectly`, this seems to be a good way to include locally defined functions, very useful especially since I myself have not written the codebase and know only the things which I have touched. You seem to know the codebase quite well in general, we'd appreciate it if you could make a PR for some of your raised issues but there is no rush

[2018-02-12 14:23] LaurentDardenne commented on #883
_You seem to know the codebase quite well in general_
Not really, I read it a lot to understand how to implement a [prototype](https://github.com/LaurentDardenne/ParameterSetRules/tree/master/RuleDocumentation#parameter-set-rules) (module script).

_but others might take more time to get resolved._
I know, I'm waiting for the resolution of a bug since September 2016.

_at the moment Invoke-ScriptA

[2018-02-12 14:48] gmitch64 commented on #875
@bergmeister Thanks for the explanation. I'll upvote issue 849, as it would be useful I think. I'll mark this issue as closed.

Thanks.

[2018-02-12 14:48] #875 closed

[2018-02-12 14:51] gmitch64 commented on #849
I'd like to upvote this - I'd like to see a solution that lets me suppress any of the checks for a section of the code in a file, where a section could be a single line, a couple of lines, or the whole file (I have a couple of ps1 files that purely define variables for our environment, so I get hundreds of variable assigned but never used messages.

Graham

[2018-02-12 19:22] JamesWTruher opened #886 "WIP: Roadmap for script analyzer"
I'm working on a long-range plan for PSSA, but here are some things which I think are needed:

- [ ] Move to Pester 4.1.1 (https://github.com/PowerShell/PSScriptAnalyzer/pull/882)
- [ ] Make sure that tests are runnable from repo
- [ ] Run CI on Mac/Linux
- [ ] Improve automation for release
- [ ] Reorganize repository (group rules, only rules in rules folder)
- [ ] Improve consistency with other

[2018-02-13 16:09] StingyJack commented on #283
A cmdlet that sets a user property value in a database, that would naturally be called Set-UserPropertyValue does not change system state and should not be prompting this rule violation.

Set is a common verb that is not tied to any state changing functions, and functions could use another verb that would change system state.  If this rule isn't looking at what the script is actually doing, and is

[2018-02-14 14:55] LaurentDardenne opened #887 "RuleDocumentation: The table of contents contains some errors"
As the location of the rules will be changed soon, I do not know if necessary to indicate, but in doubt ...

For this [table](https://github.com/PowerShell/PSScriptAnalyzer/tree/development/RuleDocumentation) :

The following pages are not found (Filenames do not seem to match the title of the table) :

- AvoidAlias
- AvoidDefaultTrueValueSwitchParameter
- AvoidEmptyCatchBlock
- AvoidReservedCharI

[2018-02-14 22:12] bergmeister commented on #887
Thanks for pointing it out and I think you are right that it is better to wait for the folder refactoring that is going to happen soon and then come back to it.

[2018-02-15 19:16] joeyaiello commented on #886
Probably need to revisit the CONTRIBUTING.md and repo documentation as well.

[2018-02-15 23:06] bergmeister commented on #886
Would it make sense to have a base repo for basic CI helper stuff and  contributing guides? Most repos could then use this common repo as a submodule. I know, submodules can be bad but if the foundation is solid then this would be a way of unifying the processes across repos.

[2018-02-16 08:37] vladimirf7 opened #889 "Trying to use -EnableExit param throws an exception"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-02-16 09:08] bergmeister commented on #889
This switch has not been released yet. For documentation of release versions, please refer to the readme of the Master branch.

[2018-02-16 09:09] #889 closed

[2018-02-16 17:53] JamesWTruher opened #890 "update tests to use new Pester 4 syntax"
after https://github.com/PowerShell/PSScriptAnalyzer/pull/882 is merged, we should probably go over the tests again and follow the new syntax format as described here: https://github.com/pester/Pester/wiki. There's no urgency for this as Pester 4 is mostly backward compatible with Pester 3, but inconsistent syntax may cause issues over time with regard to readability and maintenance.

[2018-02-17 09:31] LaurentDardenne opened #893 "AvoidUsingPositionalParameters : This rule only fires for the cmdlets / functions loaded in the default runspace"
Same behavior that this issue [#883](https://github.com/PowerShell/PSScriptAnalyzer/issues/883)

Steps to reproduce
------------------
[code]

Expected behavior
-----------------
The rule is triggered.

Actual behavior
---------------
This rule does not fire because it only calls the [GetCommandInfo()](https://github.com/PowerShell/PSScriptAnalyzer/blob/010445107423e90907c59e9bac8cc7404785ca19/Rul

[2018-02-17 17:44] StingyJack opened #894 "Discussion: Is there a spot in the documentation where the reasoning behind these rules is explained?"
Some of the rules don't make sense to me (Use Singular Nouns, Avoid trailing whitespace), while others I understand only because I've programmed before (avoid empty catch block, avoid globals, etc).

Is there any place in the documentation here that explains the reason why each of the rules is a "good thing"?

[This](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/PowerShellBestPra

[2018-02-17 18:02] bergmeister commented on #894
Documentation can be quite sparse for some rules in PSSA unfortunately. But reading community created and maintained [PowerShellPracticeAndStyle](https://github.com/PoshCode/PowerShellPracticeAndStyle) docs might help.
About the specific rules that you mentioned:
- Singular Nouns are recommended because:
   - Consistency of cmdlets (similar to using approved verbs)
   - Can be confusing for people

[2018-02-17 21:22] bergmeister commented on #886
Any thoughts on the following points?
- AppVeyor does not work in forks due to non-public WMF4 image
- Branching: development happens in `development` branch
- Running tests against/using PowerShell Core in CI

[2018-02-17 21:38] bergmeister commented on #834
@mcollera Will close since I cannot repro and you did not respond. Feel free to re-open if you can provide an example with more details that does reproduce.

[2018-02-17 21:46] bergmeister commented on #829
Closing because it is a duplicate of #631

[2018-02-17 21:46] #829 closed

[2018-02-17 21:51] bergmeister commented on #378
Guys, I know this issue is quite old but it seems in the past years, VSCode's PowerShell extension has evolved and seems to be the better tool when it comes to style linting. It has formatting settings and can even apply them automatically. Do you guys still think that PSSA have such a rule? What do you think @rkeithhill ?

[2018-02-17 22:11] rkeithhill commented on #378
I don't think PSSA should "pick" a specific bracing style but I think it would OK for PSSA to support enforcing the bracing style chosen by the user.  Although such a rule begs the question of which style to use a default.  Or maybe the rule should require the user to specify their desired style?

This is similar to the auto-formatting support that (I think) PSSA provides for the VSCode extension.

[2018-02-18 13:18] bergmeister commented on #378
Thanks for pointing that out, Yes, I agree to close as it is already implemented and configurable but they issues just wasn't updated/referenced

[2018-02-18 13:18] #378 closed

[2018-02-18 13:28] bergmeister commented on #622
This workaround seems to be broken now. When I import the psd1 file, no commands get exported and when I try to import the dll, then I get a hint why:
[code]

[2018-02-18 13:34] bergmeister commented on #260
PSScriptAnalyzer can do this by now. The [AvoidUsingDeprecatedManifestFields](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Rules/AvoidUsingDeprecatedManifestFields.cs) is an example of this. Will close since this issue seems to be outdated.

[2018-02-18 13:34] #260 closed

[2018-02-18 15:44] bergmeister commented on #886
Pester 4.2.0 just got released and contains really useful features:
https://github.com/pester/Pester/releases/tag/4.2.0

[2018-02-18 18:01] bergmeister commented on #850
Thanks @SeeminglyScience for providing the related issues. It seems that this is mainly caused by a not yet implemented feature in PowerShell's parser. There seems to be already an existing PR for it. I enquired about its timeline so that we can make a decision whether PSSA needs to workaround this external issue or if a fix arrives in a reasonable time in the PowerShell reference binaries.

[2018-02-18 18:41] bergmeister commented on #760
cgeek86 @twwilliams
This has been in implemented at the end of 2017 in the rule [AvoidTrailingWhitespace](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/AvoidTrailingWhitespace.md).
This is how it looks like:
[code]
However, note that this rule is not enabled by default in the PowerShell extension of VSCode. To do so, press `Ctrl + Shift +P` and then type `PowerS

[2018-02-18 18:41] #760 closed

[2018-02-18 18:49] bergmeister commented on #686
@lzybkr Can you please provide an example that does repro on the latest version? Otherwise I'll close this issue.

[2018-02-18 18:59] bergmeister commented on #732
@danSpotter The documentation [here](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/PossibleIncorrectComparisonWithNull.md) has been updated. Are you happy with it now?

[2018-02-18 19:04] bergmeister commented on #672
I would find this also useful if the file format was in e.g. an nunit/xunit tesfile format that could be uploaded as an CI artifact to fail CI when violating of rules. At the moment one has to wrap PSSA calls (foreach rule in foreach file) in Pester to get PSSA into CI.

[2018-02-18 19:08] bergmeister commented on #603
Will close since the question has been answered. Development is also now the default branch when opening a PR. The readme has not been updated but since we plan to unify development across PowerShell repos, this is a known issue and we will hopefully soon be able to drop the `development` branch.

[2018-02-18 19:08] #603 closed

[2018-02-18 21:16] #686 closed

[2018-02-18 21:39] bergmeister commented on #377
This can now be achieved via the optional and configurable rule [PlaceOpenBrace](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/PlaceOpenBrace.md). Therefore we can close this issue now.

[2018-02-18 21:39] #377 closed

[2018-02-18 21:46] bergmeister commented on #381
I agree  that this should be just an optional rule but to me the only case that I would find useful is to have function parameter names only start with an uppercase.

[2018-02-18 21:54] bergmeister commented on #196
@KirkMunro By now. PowerShell v2.0 has been deprecated officially. Do you agree with closing this issue? I think what we rather need is a rule to warn if someone specifies 1.0 or 2.0 as a minimum PowerShell version.

[2018-02-19 02:06] codykonior opened #896 "PSAvoidUsingCmdletAliases triggers on GherkinStep"
Gherkin (including in Pester) has a few aliases which you are meant to use when creating steps.

Alias           And -> GherkinStep                                 4.2.0      Pester
Alias           But -> GherkinStep                                 4.2.0      Pester
Alias           Given -> GherkinStep                               4.2.0      Pester
Alias           Then -> GherkinStep

[2018-02-19 09:05] LaurentDardenne commented on #896
You can [configure](https://github.com/PowerShell/PSScriptAnalyzer/blob/2114db7ad5bc378e15ce0fc451daa73c426f8bec/RuleDocumentation/AvoidUsingCmdletAliases.md) this rule.

[2018-02-19 09:13] codykonior commented on #896
You can but I believe users should not have to - not for language built into Pester/Gherkin which in turn is built into and distributed with Windows PowerShell.

[2018-02-19 16:21] pcgeek86 commented on #760
@bergmeister Awesome! Thanks for the detailed pointer. Can users also set this in their VSCode settings file?

[2018-02-19 17:05] bergmeister commented on #760
@pcgeek86  I think so, but I refer to https://github.com/PowerShell/vscode-powershell or @rkeithhill for that.

[2018-02-19 17:37] MWL88 opened #897 "ScriptRuleDocumentation.md Markdown does not render correctly on GitHub web site"
Steps to reproduce
------------------
Browse to [ScriptRuleDocumentation.md](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/ScriptRuleDocumentation.md)

Expected behavior
-----------------

The Markdown headings render correctly

Actual behavior
---------------

The Markdown headings do not render correctly

Environment data
----------------

N/A

[2018-02-19 18:04] bergmeister commented on #760
@mrichman Maybe you missed a step. See below for an example and let me know if it worked for you.
![pssa2](https://user-images.githubusercontent.com/9250262/36391649-4c54b1fa-159f-11e8-8a1c-b66ca28cf40f.gif)

[2018-02-19 18:14] mrichman commented on #760
The only option with "white" in the name is as follows:

![image](https://user-images.githubusercontent.com/11228/36391941-cd1a3df6-1576-11e8-9583-0c542c32e255.png)

Does the underlying engine require updating, or is the Powershell extension supposed to take care of this?

[2018-02-19 18:50] bergmeister commented on #760
@mrichman As far as I know from the guys who develop the extension: the extension itself contains a version of PSSA as a fallback if PSSA is not installed. Maybe you have an old version of PSSA installed that the extension decides to use then?
What is the output of the following:
[code]

[2018-02-19 19:08] mrichman commented on #760
@bergmeister 1.16.1

[2018-02-19 19:34] rkeithhill commented on #760
BTW if you are already using VSCode, simply add the following user setting and VSCode will ensure you have no trailing whitespace:
[code]
If you only want this setting to apply to PowerShell script then use this:
[code]

[2018-02-19 20:11] mrichman commented on #760
@rkeithhill Awesome! I didn't know you do could that on a per-language basis. Thanks!

[2018-02-20 04:47] Ryan2065 commented on #675
I am having the same problem ECNU3D is having. CustomRulePath seems to override IncludeRules and ExcludeRules.

[2018-02-20 12:51] LaurentDardenne opened #900 "Scan multiple times a module throw System.InvalidOperationException"
Steps to reproduce
------------------
Run a scan multiple times on a module :
[code]

![image](https://user-images.githubusercontent.com/4894452/36424696-8714e288-1644-11e8-88ad-b857e46fcd78.png)

Expected behavior
-----------------
No error.

Actual behavior
---------------
throw  System.InvalidOperationException:
Collection was modified; enumeration operation may not execute.

Environment data
-

[2018-02-20 13:16] LaurentDardenne commented on #900
Repeated analysis on a manifesto seems to be the cause :
[code]
The error message may be different :
[code]

[2018-02-20 13:40] LaurentDardenne commented on #900
No error when I exclude the following rules : PSUseToExportFieldsInManifest,PSMissingModuleManifestField
[code]

[2018-02-20 13:40] #900 closed

[2018-02-20 13:47] LaurentDardenne opened #901 "PSMissingModuleManifestField throw System.IndexOutOfRangeException"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
No error.

Actual behavior
---------------

[code]

Environment data
----------------

[code]
See also the issue #900

[2018-02-20 13:53] LaurentDardenne opened #902 "PSUseToExportFieldsInManifest throw System.InvalidOperationException: Collection was modified; enumeration operation may not execute."
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
No error.

Actual behavior
---------------

[code]

Environment data
----------------

[code]
See also the issue #900

[2018-02-20 14:01] LaurentDardenne commented on #901
The exception may also be **System.ArgumentOutOfRangeException**: _The index must be within the limits of the List_.

[2018-02-20 18:08] #897 closed

[2018-02-20 20:42] bergmeister commented on #896
I agree that this could certainly be improved because Pester is the most commonly used test framework by now.
Just as a side note: In the future, Pester will get removed from PowerShell again (has already in PowerShell Core and is planned for Windows PowerShell as well) due to various problems.

[2018-02-20 20:48] bergmeister commented on #901
Does not repro for me and my system seems to be similar to yours. Can you try to see if uninstalling the old versions of PSSA fixes it?
[code]

[2018-02-20 20:52] bergmeister commented on #902
Similar to your other issue, I cannot repro. Let's take this one aside and try to boil down the issue of the other one.

[2018-02-20 22:49] #890 closed

[2018-02-21 01:22] swngdnz opened #903 "PSUseDeclaredVarsMoreThanAssignments is thrown incorrectly"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

On line 7, nothing should be reported.

Actual behavior
---------------

On line 7, $totalSize is underlined with a green squiggle, "The variable 'totalSize' is assigned but never used. (PSUseDeclaredVarsMoreThanAssignments)"; which is obviously false.

[code]

[2018-02-21 09:51] LaurentDardenne commented on #901
May be is it only on my computer...

No error on Windows Server 2016
[code]
[code]

[2018-02-21 11:01] LaurentDardenne commented on #901
Same error on a VM with Windows server 2016 and VS 2017:
[code]
I do not think that the code of the rule is in question.

[2018-02-21 12:37] LaurentDardenne commented on #901
Repro on a new VM on Azure, template  _Visual Studio Enterprise 2017 on Windows Server 2016 (x64)_
![image](https://user-images.githubusercontent.com/4894452/36480098-5708b43a-170b-11e8-86e4-770577531cd7.png)
[code]
[code]

[2018-02-21 15:48] kilasuit commented on #903
I believe that this is correctly throwing the PSScriptAnalzyer warning as on each iteration of `+=` it recreates the Array, as opposed to adds to it.

This is due to the `@()` creating an empty, fixed size collection array

I would recommend using `[System.Collections.ArrayList]@()` and using `$null = $totalsize.Add($_.Length)` in place of this for both meeting the usage that this PSScriptAnalyzer

[2018-02-21 15:58] kilasuit opened #904 "New Rule Suggestion / Rule amendment - in response to #903"
In Issue #903 the rule in my opinion correctly throws on a `+=` for simple defined arrays using the `$var = @()` method of defining an array to the `var` variable

I would suggest that a new rule is created that correctly identifies this method as being an expensive action and that a recommendation to use a fully defined Array collection would be a better suggestion, initially suggesting using a S

[2018-02-21 16:16] swngdnz commented on #903
In my example, $totalSize is an integer and it provides the correct answer. It is demonstrably NOT being recreated in the execution block.

Your analysis isn't accurate.

[2018-02-21 16:17] swngdnz commented on #904
#903 doesn't use an array.

[2018-02-21 17:27] swngdnz commented on #903
Further back and forth led me to discover that the problem with PSSA rules seems to be "+=". If I change "$totalSize += $_.Length" to "$totalSize = $totalSize + $_.Length" then PSSA quits complaining.

That being said, see Jason Shirk's email of 21-Feb to psmvps describing a class of bugs (which includes this one).

[2018-02-21 17:36] swngdnz opened #905 "Enhancement request: Suppress rules on a per-statement and/or per-block basis"
Per https://github.com/PowerShell/PSScriptAnalyzer#suppressing-rules, rules can only be suppressed with function or class scope. I'm asking that this be extended to a per-statement and/or per-block basis.

Rationale: same as per-line suppressions in the C# compiler. :-) Sometimes a particular construct must be used. Also, PSSA has bugs (see #903 , for which a workaround was discovered, but there a

[2018-02-21 18:52] imfrancisd commented on #809
Can you allow the new rule _**"PSPossibleIncorrectUsageOfAssignmentOperator"**_ to be suppressed by parenthesizing the condition?

For example:
[code]
can be fixed in the script with
[code]

You can see this fix in other places like [warn-assignment-condition.cpp](https://github.com/Microsoft/clang/blob/349091162fcf2211a2e55cf81db934978e1c4f0c/test/SemaCXX/warn-assignment-condition.cpp#L15-L18)
[c

[2018-02-21 18:58] imfrancisd commented on #809
To be clear
[code]

[2018-02-21 19:50] bergmeister commented on #809
@imfrancisd Interesting thought but I think this might spark a discussion from the PowerShell purists about unnecessary parenthesis.
PR 881 that is referenced above is proposing to change it to  only warn about assignments inside if statements if the assigned variable is not being referenced in some way in the statement block. This way the false-positive problem gets solved in a nice way in my opi

[2018-02-21 19:57] bergmeister commented on #905
@swngdnz A similar idea was already proposed [here](https://github.com/PowerShell/PSScriptAnalyzer/issues/849#issuecomment-359560292). I agree with your idea to be able to suppress it for the next line/statement/scriptblock or even to turn it on and off for a few lines. I think I will create a meta-issue to collect all those ideas at some point an summarise it in one issue.

[2018-02-21 20:04] bergmeister commented on #903
This seems to be a duplicate of #636 to me , therefore I would like to close this issue if you are OK with that? There are various known issues with `PSUseDeclaredVarsMoreThanAssignments`, which has a minimum viable implementation. I plan to collect all those in a meta issue that will allow us to make a decision whether it is worth improving the existing implementation or re-writing the rule with

[2018-02-21 20:07] Kriegel commented on #775
I had even no luck with Get-Content :-(
The following produces only cra wit or without -readcount
`Invoke-Formatter -ScriptDefinition (Get-Content -Path 'C:\MyFile.ps1' -ReadCount 0)`

[2018-02-21 20:11] bergmeister commented on #775
@Kriegel You need to use the `-Raw` option instead because `-ScriptDefinition` expects a string:
[code]

[2018-02-21 20:16] bergmeister commented on #904
I agree that we need a rule to catch the `+=` on arrays due to the performance implications but I also agree that this issue is not really linked to the referenced issue. They are 2 separate issues to me.

[2018-02-21 20:20] bergmeister commented on #901
@LaurentDardenne Interesting findings, thanks for the report. I like your idea of using an Azure VM, which is something that is a relatively standardised and well known environment. I will try to see if I can reproduce it next week on a new Azure VM using your referenced template as well.

[2018-02-21 20:29] swngdnz commented on #903
I agree that its a duplicate of #636 (once I discovered the workaround). I do not agree with @kilasuit 's analysis (and neither did Jason Shirk).  The warning is not ok.

Jason's email on the topic:

[2018-02-21 20:35] Kriegel commented on #775
@bergmeister
Thank you! -raw does it!

This works even fine fo me:
[code]

testing with VSCode .......

[2018-02-21 20:42] bergmeister commented on #903
@swngdnz That's fine, it is totally OK to disagree and discuss it. Thanks for providing more details and contributing to the discussion. Personally I am not 100% sure on which side I really am but Jason is usually the expert in this topic. It is good to first lay down examples to know what the expected behaviour is (which is really non-trivial as we see here) but the bottom line to me is also that

[2018-02-21 20:48] bergmeister commented on #775
@Kriegel You're welcome. I had many cases in the past where `-Raw` was the better option and recently even when having to  write tests that not only work with PowerShell 5 but also older versions like PowerShell 4 and blogged about it here:
https://bracketsandbraces.blogspot.co.uk/2018/02/gotcha-when-developing-powershell-that.html

[2018-02-22 01:48] swngdnz commented on #903
Hi... I don't know your email address, but perhaps you could consider joining the PSMVP mailing list. We do discuss these things there (and PSSA has been a fairly popular topic).

On this specific issue, using $script:variablename is another workaround. Is it NOT a solution to the problem.

As a specific comment, I have NO idea where or why @kilasuit introduced an array. That is NOT, and never was

[2018-02-22 01:49] swngdnz commented on #903
Oh, and @lzybkr is Jason. I had to look up his GitHub user. This comment is to wrap him in.

[2018-02-22 03:02] imfrancisd commented on #809
### Aversion to parentheses is a good heuristic!

If you see a purist use "unnecessary" parentheses like this
[code]
then you know they mean it, and it is not an accident!  :-)

### Simple Rule, Simple Remedy, Simple Enforcement

With this approach (which is also used by C analyzers), the rule is simple:

### Pitfalls to this approach

The complexity with this approach comes with conditions like t

[2018-02-22 03:43] imfrancisd commented on #809
### Problem with checking if variable is used

How do you know if this is okay?

[code]
The variable _"$a"_ is used, but how do you know that _"$a = $c"_ is what I intended?

[2018-02-22 08:04] bergmeister commented on #809
@imfrancisd I referenced your comments in [PR 881](https://github.com/PowerShell/PSScriptAnalyzer/pull/881) because that's where I'd like to see the discussion happen. You have interesting ideas so let's see what other people think about this new approach/mindset. About your last comment: It is hard and in some cases impossible to get 100% test case coverage but it is more important to limit the n

[2018-02-22 08:08] bergmeister commented on #903
@swngdnz Is the PSMVP mailing list not public? I would rather prefer to discuss issues in public here especially since other folks can learn from the discussions as well. Although I am not a friend of emails, I can give it a go and listen in only for starters.  I usually use the GitHub API `https://api.github.com/users/INSERT_USERNAME_HERE/events/public` to find people's email so feel free to add

[2018-02-22 19:38] lzybkr commented on #903
the PSVMP mailing list is not public. The discussion should take place here.

[2018-02-25 22:45] bergmeister commented on #876
@LaurentDardenne After carefully going through all links, I agree now with you that the rule should warn irrespective if `[CmdletBinding()]` is used or not. Some of the existing tests also need enhancement. And yes, you are right, the documentation should be updated as well.

[2018-02-25 23:52] bergmeister commented on #887
@LaurentDardenne @JamesWTruher I would rather remove the table completely because it is unnecessary duplication/maintenance. One can click on any of the rules separately to get the full details or use `Get-ScriptAnalyzerRule` to get the warning level of the rules in a nice list.

[2018-02-26 05:55] Benny1007 opened #908 "Allow relative path in -Settings parameter."
I would like to use a PSScriptAnalyzerSettings.psd1 file in a repository folder, not necessarily at my workspace root. If I include a file in my module folder and try and invoke it, it doesn't take a relative path only the full path to the file. Of course I could be using this incorrectly so feel free to point me in the right direction ;)

Steps to reproduce
------------------

[code]

Expected be

[2018-02-26 07:52] bergmeister commented on #908
@Benny1007 Thanks for reporting this. For the moment please use a full path but it should not be too difficult to make it also support relative paths.
In a script you can easily achieve this as follows: `$fullPath = Join-Path $PSScriptRoot 'relative\path'
On the command line you can do : `Join-Path (Get-Location) 'relative\path'
And if your relative path includes navigation like e.g. `..\` then yo

[2018-02-26 17:50] LaurentDardenne commented on #901
This case may be related (?)
With the development branch :
[code]

[2018-02-26 17:54] LaurentDardenne commented on #901
With the development branch.

This 'works', but should not:
[STA] C: \ temp\pssaDev\out\PSScriptAnalyzer> Invoke-ScriptAnalyzer -ScriptDefinition 'if ( 0 = 0 ){}' -ExcludeRule psAvoidAssignmentToAutomaticVariable

[2018-02-26 23:28] #876 closed

[2018-02-27 01:31] bergmeister commented on #880
Is the goal to use the -Settings parameter to enable/disable rules from the custom rules written In PpwerShell using the -CustomRulePath parameter?

[2018-02-27 13:58] LaurentDardenne commented on #880
Absolutely.
Also to access a parameter.

[2018-02-27 14:13] LaurentDardenne opened #910 "typo in the label "Area - Documentation""
The name of the label "Area - Documenatation" should be "Area - Documentation".

[2018-02-27 17:33] bergmeister commented on #910
@LaurentDardenne Thanks. I fixed it.

[2018-02-27 17:33] #910 closed

[2018-02-27 23:31] bergmeister commented on #894
@StingyJack Does this answer your question sufficiently? We are aware that more text could be helpful for some of the rule documentation that we might add over time but we are also open to contributions.

[2018-02-27 23:39] bergmeister commented on #880
I think this depends on #675 first and is probably even a duplicate of it because #675 is generic and would solve this special case as well.

[2018-02-28 09:44] LaurentDardenne commented on #880
Maybe, but for the moment it's not the content of the file but the access to the content.
The issue 675 is a request that VSCode consume rule modules, not that the rule modules access the rule configuration data.
At the time I think there were no customizable rules.

[2018-02-28 18:01] #908 closed

[2018-02-28 19:15] bergmeister opened #913 "Compiler warning in UseCompatibleCmdlets class due unfinished feature with # if DEBUG pragma -> consider removal to allow us to use the /warnaserror compiler option"
[UseCompatibleCmdlets ](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Rules/UseCompatibleCmdlets.cs) produces a compiler warning when being compiled in Release mode:
[code]

This seems to be due a 2 year old, unfinished feature that littered lots of  `#if DEBUG` in this class. The blame does not tell me a referenced issue, therefore I would argue to remove this compile conditiona

[2018-02-28 20:18] bergmeister commented on #619
@LaurentDardenne Do I understand correctly that we can close this now because the root cause was fixed in #618?

[2018-02-28 22:19] bergmeister opened #914 "Settings file cannot be found in a special case when specifying -Setting parameter object in a certain way"
Steps to reproduce
------------------

This was reported in the UK PowerShell Slack user group `get-psuguk` by @pauby
This bug was initially reported for version `1.16.1` but even with the recent PR 909 that was merged today, this strange behaviour happens.

[code]

Expected behavior
-----------------

No warning and only the 2 rules in the settings file are being used.
[code]

Actual behavior
---

[2018-02-28 23:43] bergmeister commented on #914
A quick investigation shows that this might be a quirk/artifact of PowerShell's parser because in the `BeginProcessing()` part, the object does not seem to get fully resolved and is therefore not a string yet. Maybe we need to try to convert the expression to a string as a last resort...

[2018-03-01 10:13] LaurentDardenne commented on #619
@bergmeister
if you want, I have not tested again for 1 year.
I'm trying to check if it works.

[2018-03-01 18:01] LaurentDardenne commented on #619
The issue 618 is fixed, but not this one.

When i use the function outside PSscriptAnalyzer, this property is correctly assigned, but when PSscriptAnalyzer use my function this property is no more correctly assigned .

[2018-03-01 18:12] LaurentDardenne commented on #619
Maybe [this code](https://github.com/PowerShell/PSScriptAnalyzer/blob/master/Engine/ScriptAnalyzer.cs#L1294) is involved.
if necessary I can join a test module.

[2018-03-02 20:13] #857 closed

[2018-03-03 18:33] bergmeister commented on #850
@SeeminglyScience @smurawski  Some updates: I figured out that PSSA has its own, self-contained version of the parser and therefore we do not depend on the parser of the PowerShell instance that calls PSSA. A pull request with the added language feature is going to be finished in about 1 month and I have requested an updated version of an unofficial Nuget package that PSSA uses to get the updated

[2018-03-03 23:06] bergmeister opened #920 "Should the 'Microsoft.Windows.PowerShell.ScriptAnalyzer' namespace/assembly names be renamed to 'Microsoft.PowerShell.ScriptAnalyzer' ?"
Question as per title. This would be a breaking change. What do you think @JamesWTruher

[2018-03-04 02:08] #887 closed

[2018-03-04 13:39] Kriegel opened #921 "Hint: How to have a good Scriptpool to parse and test against"
Hi!

One of my Test is to run ScriptAnalyzer with my custom rule against a large amount of scripts out of the wild Internet.

To have scripts that contains all PowerShell technics like Workflows, Classes, DSC, CIM, COM, and other weired stuff, i grabbed the teaching scripts from Powershell Teaching Books.

(But be aware of that even these Scripts have Typos you have to fix at first runs !!!!!!!!)

[2018-03-04 14:56] bergmeister commented on #921
Thanks for the good will of providing helpful links. This is something worth considering at some point but to be honest we have to tackle the _known_ issues first. PSScriptAnalyzer is using the parser classes of PowerShell itself for parsing and analysing the scripts and from then on is just working on the AST. Currently we are even in the process of request a missing feature in the parser. Theref

[2018-03-05 15:53] tboddyspargo opened #922 "Workflows should not trigger UseShouldProcessForStateChangingFunctions"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

I expect the above workflow to NOT trigger `UseShouldProcessForStateChangingFunctions`. Said rule should only apply to functions (not workflows).

Actual behavior
---------------

The above workflow definition triggers `UseShouldProcessForStateChangingFunctions` and it should not. Workflows support the use of certa

[2018-03-05 18:51] bergmeister commented on #922
Thanks for reporting this. Since you correctly stated that `SupportsShouldProcess` is not supported (and not even allowed syntax) for a workflow, I agree that workflows should be excluded from this rule.

[2018-03-05 20:07] #914 closed

[2018-03-06 05:17] StingyJack commented on #894
Yes, sorry. missed a bunch of notifications recently. That doc is pretty good for getting some idea on these. Thank you.

I'm probably never going to agree with the singular nouns rule. As a developer I would prefer that the return type does not mutate. I'm constantly having to `@()` functions in powershell to avoid exceptions with the "single/array guessing game". So my commands/functions always

[2018-03-06 05:17] #894 closed

[2018-03-06 18:57] #922 closed

[2018-03-06 19:09] kilasuit commented on #920
Personally I cannot see any benefit for this change, are there any benefits that are possibly hidden behind this seeming to be a relatively simple suggested change?

[2018-03-06 19:44] bergmeister commented on #920
Although one can already use PSSA on non Windows systems or PowerShell Core, there are some bugs that will be squashed as CI for Linux, MacOS and pwsh is going to be introduced to be truly cross platform and support it (at the moment all CI tests are not green on those systems). PowerShell Core did a scrub for 'Windows' strings as things got more serious and therefore I am questioning if we need t

[2018-03-07 08:12] LaurentDardenne commented on #920
This may seem trivial, but changing these names would be more consistent when reading the code, this would make it possible to use the word 'Windows' for parts of code specific to this operating system.

[2018-03-07 09:22] LaurentDardenne opened #924 "About the documentation : 'how to write a script rule'"
The [documentation](https://github.com/PowerShell/PSScriptAnalyzer/blob/master/ScriptRuleDocumentation.md) of a script rule says :
[code]
But depending on the [code](https://github.com/PowerShell/PSScriptAnalyzer/blob/2056fe0c63dc63dfac2cc18cb79b1373d7f5ec6f/Engine/ScriptAnalyzer.cs#L1111), the parameter name must end with '_ast_' or '_token_' AND be of a type derived from AST or Token.

And maybe

[2018-03-07 19:49] #921 closed

[2018-03-09 20:37] bergmeister commented on #631
This is already fixed in the current version `1.16.1` i.e. `  Invoke-ScriptAnalyzer -ScriptDefinition '$env:Path = [Environment]::GetEnvironmentVariable(''Path'',''Machine'')'` does not return a warning any more. The relevant line of code that does this is [here](https://github.com/PowerShell/PSScriptAnalyzer/blob/a2ab2deba3b027dc81397771f63ab79b76ca3c34/Rules/UseDeclaredVarsMoreThanAssignments.cs

[2018-03-10 09:48] LaurentDardenne commented on #631
A remark, not to prove the opposite but to take into account the multiple assignment:
[code]

[2018-03-10 10:32] bergmeister commented on #631
The first one looks correct to me because `$Copypath` is not used. The second should not produce any warnings although if I modify it sightly to `Invoke-ScriptAnalyzer -ScriptDef
inition '$env:Path =$Copypath= [Environment]::GetEnvironmentVariable(''Path'',''Machine'');get-foo $copypath'`.
Multiple assignments in general (not only related to env variables) sounds like a separate issue to me.

[2018-03-10 19:37] bergmeister commented on #904
Going through some past issues reveals that this seems to be a duplicate of #806

[2018-03-10 19:53] bergmeister opened #926 "Extend PSAvoidUsingCmdletAliases rule to also warn about implicitly aliased cmdlets via automatic Get- discovery"
Steps to reproduce
------------------

PowerShell has this undocumented feature that if it cannot find/resolve a command, it will try to append `Get-` to the command as a last resort of finding it. As far as I am aware, this works on every version of PowerShell but using it in a script should maybe be discouraged because
- It could make maintenance hard, should this undocumented feature get broken

[2018-03-10 22:15] bergmeister commented on #847
@JamesWTruher Should we close this as 'by design' then? I can understand where the author is coming from but the rule really just does what it is supposed to do even if the result does not seem to be intuitively correct.

[2018-03-11 09:13] bergmeister commented on #810
I think we should not include the rule in the set of default rules any more but still leave the rule there.

[2018-03-11 10:24] bergmeister commented on #807
Although there have been recent fixes to the `-Setting` parameter object parsing, this bug still reproes and I will look into it.

[2018-03-11 18:07] bergmeister commented on #826
@rkeithhill  @SeeminglyScienc @tylerl0706
This bug still repro-es in 1.16.1 and the current state of the development branch. By debugging it, it confirms that the correction extent of the rule to be fixed is `PSPlaceOpenBrace` and I will look into it. My proposal is to append the comment after the new brace.
However, what concerned me when debugging this, is that subsequent rules that were being r

[2018-03-11 20:28] bergmeister commented on #775
I see that this issue has quite a few updates. Can anyone provide details of a use case? Because VSCode has already integrated Invoke-Formatter, I do not understand why people want to use it this way, especially since using `Get-Content -Raw` and `Set-Content` in PowerShell seems to be OK as a workaround

[2018-03-12 18:30] Kriegel commented on #775
I can now live with Get-Content -Raw but it is ugly and was not intuitively to find out.

I work often with code found on the Internet even with Modules which have more then one .ps1 file.
and i have a repository of my own old scripts

Or you handover scripts from one Team to another ...
Or the Team formatting rules arche changed ...
with -Path we can batch format and standardize those.

without a

[2018-03-13 07:04] ingemar-hn commented on #831
I files this bug (https://github.com/PowerShell/vscode-powershell/issues/1226) on vscode-powershell. It got closed with reference to this bug.
It is probably the same problem causing this, it might just look different.

[2018-03-13 07:50] bergmeister commented on #831
There are various known issues with false positives of this rule. The most similar one to the one reported by you is this one [here](https://github.com/PowerShell/PSScriptAnalyzer/issues/903). Small improvements have already been made to the rule in the meantime but this is a long ongoing progress of tweaking the rule that was initially written in a simplistic way to provide some value. The rule w

[2018-03-13 08:53] bergmeister commented on #831
There are various known issues with false positives of this rule. The most similar one to the one reported by you is this one [here](https://github.com/PowerShell/PSScriptAnalyzer/issues/903). Small improvements have already been made to the rule in the meantime but this is a long ongoing progress of tweaking the rule that was initially written in a simplistic way to provide some value. The rule w

[2018-03-14 22:04] bergmeister commented on #850
Some updates: the PowerShell team is not planning to implement the required parser feature. We will either have build our own custom parser or as a workaround for the moment try to catch the specific error and try to remove the unknown object type in memory before parsing the script content

[2018-03-14 23:14] bergmeister commented on #699
@Jaykul  Actually, it is a problem of both the `+=` operator being treated as assignment (not usage) and `ForEach-Object`, I will therefore extract this case because I found a solution to the originally raised issue that is due to `+=`

[2018-03-14 23:18] bergmeister opened #934 "PSUseDeclaredVarsMoreThanAssignments: False positive when using ForEach-Object in special cases"
Extracted from [this](https://github.com/PowerShell/PSScriptAnalyzer/issues/699#issuecomment-353683608) comment here:

Steps to reproduce
------------------

[code]

[code]

Expected behavior
-----------------

No `PSUseDeclaredVarsMoreThanAssignments` warnings

Actual behavior
---------------

1 or more `PSUseDeclaredVarsMoreThanAssignments` warnings in both cases

[code]

[code]

Environment dat

[2018-03-14 23:34] bergmeister commented on #903
I have a fix for this now, therefore I will extract one of the cases from Jason's valuable email will be extracted into its own issue

[2018-03-15 22:21] bergmeister opened #938 "PSUseDeclaredVarsMoreThanAssignments is not aware of the scriptblock context (invocation or dot-sourcing)"
Steps to reproduce
------------------

Extracted from [here](https://github.com/PowerShell/PSScriptAnalyzer/issues/903#issuecomment-367461224):

[code]

[2018-03-15 22:30] bergmeister commented on #663
I think this is fixed by now but I would need to double check.

[2018-03-16 12:52] bergmeister commented on #775
@Kriegel Thanks for the feedback. This sounds more like we could at least document an automation snippet because gluing stuff together is what PowerShell is for. The reason why implementing this is hard is because the requirements (preservation of encoding, tabs/spaces) are quite difficult to achieve, I already struggled to preserve the encoding in all cases for the `-Fix` switch on `Invoke-Script

[2018-03-20 02:34] VimalShekar commented on #711
bump -
This also returns a false positive for global variables even when they are qualified with "$global:", if the variable is not re-used within the scope of the current block

Ex:
Function MakeTrue {
 $Global:g_GlobalVariable = $true
}

Function MakeFalse {
 $Global:g_GlobalVariable = $false
}

[2018-03-20 06:15] tylerl0706 commented on #826
Interesting, so the correction would be applied and then since the script was in a bad state, `Invoke-Formatter` would throw parse errors?

Yeah, we should stop processing the script as soon as we see the first parse error.

[2018-03-21 10:30] MWL88 opened #941 "Script rule documentation issues"
There are a couple of issues with ScriptRuleDocumentation.md

1. A typo in the following sentence:

The word 'server' should be 'serve'.

2. The documentation describing the parameters for a script rule is incomplete.  Having reviewed the PSSA source code, I believe the documentation does not:

  - describe all the possible parameters
  - specify the parameter naming restrictions

[2018-03-21 17:11] MWL88 commented on #941
PR #942 was merged

[2018-03-21 17:11] #941 closed

[2018-03-21 17:21] dagwieers commented on #200
Whoever thought that checking equality is not commutative clearly had no clue what he/she was doing. If one thing equals another, the other equals that one thing, but not in Powershell...

It's absurd that `($a -eq $null)` is not the same as `($null -eq $a)`, no matter what rationale you could think of.

[2018-03-21 18:07] bergmeister commented on #200
@dagwieers I believe there was some rationale but just to add one more case: You can even have the situation where `-eq` and `ne` yield the same result due to not returning anything:
[code]

[2018-03-21 21:29] dagwieers commented on #200
Back on topic now, this test does not take into account type-casted variables, like:
[code]
however it does seem to work if this is being done:
[code]
In this second example the issue is not raised. I wonder why that makes a difference.

Now, in our situation we know that `Get-AnsibleParam -type "str"` will only return a value of type [string] or type $null, but there does not seem a way to tell t

[2018-03-22 01:13] dagwieers opened #943 "PSPossibleIncorrectComparisonWithNull fails to work with typecasted variables"
Steps to reproduce
------------------
If you validate this script, it complains about PSPossibleIncorrectComparisonWithNull even though it is pretty clear $value must be a string.
[code]

Expected behavior
-----------------
It works perfectly fine if the value is type-casted like this:
[code]

Actual behavior
---------------
So we get this error needlessly.
[code]

Environment data
---------------

[2018-03-22 01:21] dagwieers commented on #943
Same problem with this:
[code]
and this:
[code]
Return value must be a string, in all cases and should not cause a PSPossibleIncorrectComparisonWithNull

[2018-03-22 21:20] kalgiz commented on #902
I was able to reproduce, but the error does not always occur.

[2018-03-23 12:30] bergmeister opened #944 "Investigate/Fix test failure on PowerShell Core"
The `"uggests corrections for AliasesToExport with wildcard` of `UseManifestExportFields` is currently set as pending when tests are being run using the coreclr.
This tests needs to be looked into and possibly fixed.
The test is here:
https://github.com/PowerShell/PSScriptAnalyzer/blob/021711eae27a2bd00165f30c6c568a78f448870a/Tests/Rules/UseToExportFieldsInManifest.tests.ps1#L86

[2018-03-23 19:32] #800 closed

[2018-03-23 19:32] #826 closed

[2018-03-23 19:57] rkeithhill commented on #826
@tylerl0706 Looks like we should make sure to pick up a newer version of PSSA for 1.6.1.

[2018-03-23 20:51] tylerl0706 commented on #826
Good to know. I'll be watching on Twitter for the next release @bergmeister! Looking forward to it! (I'll reach out if we're releasing before you... we might wait)

[2018-03-23 21:04] bergmeister commented on #826
I will definitely let you know when it gets released but the timeline depends mainly on Jim. There are 3 soon to be merged PRs (I just addressed their PR comments) that I tagged with 1.17 that should be merged before the release and those 3 I recommend you take as well. After that you could potentially take the latest version of it and the final version of PSSA might have PRs but they are not goin

[2018-03-24 10:17] bergmeister commented on #943
First of all, thanks for taking the time to write down such a detailed issue with good examples.
I agree with your first example that it would be nice to not get a false positive in this case and therefore accept the issue. But I disagree with the 2 examples given in your 2nd comment [here](https://github.com/PowerShell/PSScriptAnalyzer/issues/943#issuecomment-375147571) because
- The mere presenc

[2018-03-24 12:55] markekraus opened #945 "PSShouldProcess behavior allows for unsafe code to pass where it should fail"
Steps to reproduce
------------------

The following function will pass PSShouldProcess

[code]

@seeminglyscience pointes me to this
https://github.com/PowerShell/PSScriptAnalyzer/blob/a7d23f7f4dbf4ee92077f5471e28ca334caef429/Rules/UseShouldProcessCorrectly.cs#L245-L267

Where it is checking upstream functions for supports should process. While on the surface it may seem like a good idea to allow

[2018-03-24 17:45] dagwieers commented on #943
@bergmeister I added the second set of examples as it would be nice to have. In our case we disable this rule because in Ansible we enforce the variable type, when we pass it from the user to the Ansible module. But every variable can always be $null.

I wonder if it would help if we could hint the SSA about expected variable type so we don't have to disable the rule. In fact OutputType could be c

[2018-03-25 09:12] LaurentDardenne commented on #902
@kalgiz
_"but the error does not always occur."_
I agree,  this error is  erratic.
When executing the same code several times in a row, once the first error is triggered the behavior is degraded :
![image](https://user-images.githubusercontent.com/4894452/37873369-e15b4ce6-301b-11e8-9e26-7663b3c2e992.png)

Line of code executed immediately after the first (_1..30 | ..._) :
![image](https://user-im

[2018-03-25 10:56] bergmeister commented on #902
I have tried again but it still does not happen on my machine (neither with the released version or the development branch). This sounds like a race condition where a list is accessed in a non-thread safe manner. Some background: When PSSA analyses one file, it spawns a Thread for each rule.
@LaurentDardenne Can you please provide more error details using e.g. `$error[0] | select *`
@kalgiz If you

[2018-03-25 12:21] tylerl0706 commented on #826
Ah yes. Compliance :)

Are you referring to this: https://github.com/PowerShell/vscode-powershell/issues/1232

If so, that's the plan :)

[2018-03-25 13:35] bergmeister commented on #826
Ok.
I was referring to [this](https://github.com/PowerShell/PSScriptAnalyzer/issues/826#comment-374487894) whereby from Invoke-Formatter was throwing parse errors but the editorservices seem to ignore them and accept the resulting string.

[2018-03-25 14:05] tylerl0706 commented on #826
Oh right, yes. I've got to look into that part of the code so I'll add that to my list. Would you mind opening an issue on PSES for that so we can track it? If you're busy I can do it tonight :)

[2018-03-25 14:25] Remco-74 opened #946 "Code in dependant scriptblocks / scopes shouldn't report PSUseDeclaredVarsMoreThanAssignments"
Steps to reproduce
---------------

Supposing a Pester Test file like below:

    $here = $PsScriptRoot

    Describe 'My Module' {

        BeforeAll { $module = Import-Module "$here\MyModule.psd1" }
        AfterAll  { $module | Remove-Module -Force }

        It 'can be loaded' {
            $module | Should Not Be $null
        }
    }

Expected behavior
---------------

No warning on the **$m

[2018-03-25 17:59] bergmeister commented on #946
This is due to #938
The rule currently does the analysis on a per scriptblock basis, therefore it does not see the connection between them. It would also mean that PSSA has to know about Pester syntax like `BeforeEach` or `BeforeAll`. In case you are interested, this is how it looks like in the debugger (i.e. those are the 5 scriptblocks that it analyses separately:
![image](https://user-images.gi

[2018-03-25 18:44] LaurentDardenne commented on #902
With Windows Seven sp1 Fr ( Microsoft Windows [version 6.1.7601] )

[code]
[Issue902.txt](https://github.com/PowerShell/PSScriptAnalyzer/files/1845639/Issue902.txt)

[2018-03-25 19:24] bergmeister commented on #902
By looking at the stack trace, it seems to come from [here](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Engine/Helper.cs#L304) but the help on this method says that it is executed synchronously. Therefore this does not make sense to me assuming there is no bug in the `Invoke()` method of PowerShell. This Helper class has shown bad behaviour in the past, see [this](https://githu

[2018-03-25 19:47] bergmeister commented on #943
If you declare the `[string]` type on the RHS then it recognizes the variable type and does not return a warning.
[code]

PSScriptAnalyzer should not make the assumption that the OutputType is correct because as I said it is not guaranteed to be true as it is just a documentation note. Any code analysis system (especially the sophisticated one by ReSharper for C#) requires a human to make a judgem

[2018-03-25 21:33] Remco-74 commented on #946
Using `$script:module` is a good workaround for this complex issue.

[2018-03-26 07:05] AWahlqvist opened #948 "Possible formatting issue related to unary operators"
### Issue Description

So I opened this bug at the VSCode repo:
https://github.com/PowerShell/vscode-powershell/issues/1237

It's about unary operators that (from what I can tell), aren't handled correctly when formatting the code.

This:
[code]

Becomes this:
[code]

When formatting the code in VSCode with powershell.codeFormatting.whitespaceAroundOperator set to true.

I got a response from @tyl

[2018-03-26 08:50] LaurentDardenne commented on #902
May be a [side effect](https://github.com/PowerShell/PowerShell/issues/6422) around Dispose() ?
My machine is a Core2 Duo, we can consider it as 'slow'.

With my tests, the problem is triggered more often with this form :
[code]
In use it is random.
I have not tested with Win10, I can confirm with Windows 2016.

[2018-03-26 11:39] bergmeister commented on #948
This is a duplicate of #847 and I believe it is by design because the setting `whitespaceAroundOperator` does exactly what it is supposed to do.
I can understand however that the resulting formatting is not desired in this case,
PSSA has 3 built in rule sets (Allman, etc.) that VSCode uses as well and I think the best solution would be to tweak them and to come up with a more refined ruleset that

[2018-03-26 11:39] #948 closed

[2018-03-26 11:51] AWahlqvist commented on #948
Yes, it does seem to be a duplicate, sorry, missed the other one. Will focus any discussions to that bug instead.

Thanks!

[2018-03-26 11:58] AWahlqvist commented on #847
@bergmeister hmm, I'm not really sure but shouldn't [unary operators](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_operators?view=powershell-6#unary-operators) (which this is, right?) be excluded from that rule?

This doesn't trigger the rule for example:
[code]

So it doesn't seem logical that it triggers for a single hyphen either.

[2018-03-26 18:29] bergmeister commented on #847
@AWahlqvist Hmm, that's a good idea. I would need to first look at the `whitespaceAroundOperator` and `PSUseConsistentWhitespace` rule implementation to see how that would fit in.

[2018-03-28 03:27] mattpwhite commented on #631
This is still broken for me, here's a repro (does not complain outside a function):

[code]

[2018-03-28 12:57] Kriegel commented on #775
see: [Default Encoding for PowerShell 6.0 is UTF-8 without a BOM except for New-ModuleManifest
](https://docs.microsoft.com/en-us/powershell/scripting/whats-new/what-s-new-in-powershell-core-60?view=powershell-6#default-encoding-is-utf-8-without-a-bom-except-for-new-modulemanifest)

So i think to Support the UTF-8 without a BOM is enough, if the file is not of this  encoding throw an Error and all

[2018-03-28 17:18] #926 closed

[2018-03-28 21:32] bergmeister opened #950 "Enhance PSUseConsistentWhiteSpace to exclude more special cases when using unary operators"
Found when discussing PR #949 , which already tweaked `PSUseConsistentWhiteSpace` when using unary operators inside parenthesis.
This adds another special case where the rule should be excluded. The community is welcome to provide more cases that need to be treated specially.

Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
--------------

[2018-03-28 21:59] bergmeister commented on #675
By looking at this, it seems to be a bug of `CustomRulePath` itself, whereby the rule included by default are not being used either when using `CustomRulePath` in a setting file or as the cmdlet parameter. The logic doing this is exactly [here](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Engine/Commands/InvokeScriptAnalyzerCommand.cs#L338) but just fixing this seems to break a

[2018-03-28 22:08] #847 closed

[2018-03-29 16:43] rjmholt opened #952 "Strange warnings when a type annotation is misused"
Steps to reproduce
------------------

Wrote a little script in VSCode with the following in it:
[code]

Expected behavior
-----------------

A message to say something like type constraints only being allowed in some places, or perhaps an expected token error. Red squiggle (in VSCode) only under the offending type constraint, or within the confines of the `foreach` loop.

Actual behavior
--------

[2018-03-30 09:10] bergmeister commented on #901
Related to #902

[2018-03-30 18:37] #699 closed

[2018-03-30 18:37] #827 closed

[2018-03-30 18:37] #903 closed

[2018-03-30 22:22] JamesWTruher commented on #920
In my mind, it really depends on the users of the assemblies. My understanding is that it is possible to embed PSSA into other things and rely on the API surface rather than the execution of the cmdlet from within a PowerShell session. If this is the case, then this sort of change would be a rather sizeable breaking change, and this change would need to be looked at in that light. If this isn't th

[2018-03-30 22:29] bergmeister commented on #920
As far as I know, the `PowerShellEditorServices` extension was changed (many months ago) to call `Invoke-ScriptAnalyzer` directly from `pwsh` (some of the issues were due to PSSA hanging on and accumulating memory due to the static Helper class). Not sure about other integrators though (if any?)

[2018-03-30 22:34] bergmeister commented on #805
For cmdlets, there is also ready the rule [UseCompatibleCmdlets](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/UseCompatibleCmdlets.md), therefore only the .net apis seem to be missing, maybe the .net core compatibility analyzer could be leveraged for that? [PR 954](https://github.com/PowerShell/PSScriptAnalyzer/pull/954) updates the rule files at least for PSCo

[2018-03-30 23:26] lzybkr commented on #631
@bergmeister - Please reopen - I still see this warning in `1.16.1` when the assignment occurs in a function or scriptblock, e.g.

[code]

[2018-03-30 23:34] tylerl0706 commented on #920
As @bergmeister said, PSES uses `Invoke-ScriptAnalyzer` so there will be no issues there.

cc @daviwil, @rkeithhill, @seeminglyscience, @rjmholt

[2018-03-31 00:24] kalgiz commented on #893
This happens because the script is only statically analyzed and wasn't run, so the function definition didn't appear in the Powershell runspace. Current code before checking for the positional parameters, checks if the command exists and in case it doesn't, finishes run without returning any Diagnostics Records.

Probably we should add the function definition to some dictionary during script parsi

[2018-03-31 00:32] kalgiz opened #955 "AvoidUsingPositionalParameters : rule is triggered only for the built-in functions"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
Rule AvoidUsingPositionalParameters is triggered.

Actual behavior
---------------
The rule is not triggered

Environment data
----------------
Name                           Value
----                           -----
PSVersion                      6.0.1
PSEdition                      Core
GitCommitId

[2018-03-31 00:39] kalgiz commented on #955
The reason for that is that firstly we check if the function in the commandAst exists. The check is performed by calling Get-Command for the given function. But Get-Command is called in PowerShell's new Runspace: https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Engine/Helper.cs#L699

Replacing the new runspace with RunspaceMode.CurrentRunspace didn't solve the issue - CurrentRunspac

[2018-03-31 06:20] bergmeister commented on #631
Let me summarise, the example given in the issue statement `$env:Path = [Environment]::GetEnvironmentVariable('Path','Machine')` does not produce a warning any more in the development version of. But the example from the recent [comment ](https://github.com/PowerShell/PSScriptAnalyzer/issues/631#issuecomment-376749127)` 'function Show-Bug {$env:example = ''a''}'` does give a warning, will therefor

[2018-03-31 15:31] lzybkr commented on #631
@bergmeister - Assignments to drive qualified variables should never get a warning regardless of the context. env:, function:, hklm:, etc. If #938 is related to my example, it shouldn't be.

[2018-04-01 11:04] bergmeister commented on #631
@lzybkr Sorry, you're right. When I first copy pasted your example then I also saw a warning on `$x`, which I attributed to the other referenced issue but it turns out that it was only because one dollar sign was missing in the example.
I opened a PR with a fix that fixes all examples given in this issue.

[2018-04-01 12:24] bergmeister commented on #675
Update: This seems to be by design.
The current design is:
- When CustomRulePath is used (either via command line or settings file), then only the custom rules are going to be used. If you want to ADD the custom rules to the existing default rules, then you need to additionally supply `-IncludeDefaultRules`
- When a parameter (CustomRulePath, IncludeRule, etc.) is passed in via the cmdlet, then it

[2018-04-01 13:02] bergmeister commented on #127
3 years later...
PSSA has the [UseCompatibleCmdlets](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/UseCompatibleCmdlets.md) rule for that and PR 954 currently updates the files for PowerShell Core 6.0.2 and Windows PowerShell 3/4. If you agree then I will close the issue once the command data files are all updated?

[2018-04-01 17:56] rkeithhill commented on #127
That addresses cmdlet compatibility but not sure if it addresses feature compatibility - e.g. support for enums, classes, new operators, new parameters, etc.  Perhaps we could close this issue and open a new one that is more specific to features?

[2018-04-01 18:24] bergmeister commented on #127
Good point. I am Ok with leaving this issue open then.
As far as I know, enums and classes were introduced in v5. Do you know of any specific new operators that came only in v4/5? The command data files include all parameter sets with the relevant parameters btw. I went through the changelog [here](https://docs.microsoft.com/en-us/powershell/scripting/whats-new/what-s-new-in-windows-powershell-50?

[2018-04-01 19:01] bergmeister commented on #645
Please give specific examples of a class related rule.

[2018-04-01 20:45] rkeithhill opened #959 "System.InvalidOperationException from Invoke-ScriptAnalyzer command when debugging PSES"
I've been debugging other issues in PSES and I'm seeing multiple instances of this exception.  Can this be safely ignored or is there a problem here:

![image](https://user-images.githubusercontent.com/5177512/32411787-c49c3452-c1a9-11e7-8144-33ff50f27ce1.png)

![image](https://user-images.githubusercontent.com/5177512/32411788-c9165828-c1a9-11e7-99e8-8ffee656f8dc.png)

This was using Windows Powe

[2018-04-01 20:53] bergmeister commented on #959
@rkeithhill It could be related to #902, which happens way below the stack with similar exception type but different message.
Please give a full stack trace and example scriptdefinition input to reproduce otherwise this issue is not very helpful unfortuantely.

[2018-04-01 21:13] bergmeister commented on #743
@ThmsRynr I have a prototype in my branch [here](https://github.com/bergmeister/PSScriptAnalyzer/tree/CustomRulesCoreRuleSet) that makes this work for the `CommunityAnalyzerRules` only (due to a hard-coded folder name as a PoC ) if you copy the [CommunityAnalyzerRules](https://github.com/PowerShell/PSScriptAnalyzer/tree/development/Tests/Engine/CommunityAnalyzerRules) into a folder named `ScriptRu

[2018-04-02 17:31] #631 closed

[2018-04-03 07:48] LaurentDardenne commented on #675
Thanks for the time spent reading the code again.
The 'CustomRulePath' key should not be in the plural 'CustomRule**s**Path'?

[2018-04-03 07:57] LaurentDardenne commented on #675
See to [Add the possibility to load custom rules by a module name or a fully qualified name](https://github.com/PowerShell/PSScriptAnalyzer/issues/607)

[2018-04-03 13:58] LaurentDardenne commented on #675
It works with VSCode and the command line.
And it also simplifies build [scripts](https://github.com/LaurentDardenne/Log4Posh/blob/master/build.settings.ps1#L219)

[2018-04-03 21:29] SeeminglyScience commented on #920
That depends, if they want to keep compatibility with older versions of PSSA they'd either have to add `using namespace` statements for both namespaces or test for PSSA version and change type name accordingly.

Also, I remember seeing somewhere that you could point `CustomRulePath` to a compiled assembly.  I specifically remember seeing at least one issue regarding it's use, so while there probab

[2018-04-04 10:38] LaurentDardenne commented on #924
Does a function, implementing a PSSA rule, necessarily have to declare a **Process** block ?
[The code](https://github.com/PowerShell/PSScriptAnalyzer/blob/03ee3c434d25070e558fa2b1aa85f290c650534d/Engine/ScriptAnalyzer.cs#L1237) does not use the pipeline, and the Param clause (see example) does not specify a parameter with the _ValueFromPipeline_ or _ValueFromPipelineByPropertyName_ attribute.

[2018-04-05 17:26] chriskuech commented on #686
Do you have an idea of when this fix will be published to PSGallery?  The latest version in PSGallery was published 2017-09-05

[2018-04-05 18:26] chriskuech commented on #686
I'm not sure what the incriminating line of code is, but it's happening in two repos.  If you work at Microsoft and can find me (Chris Kuech), I can point you to our repos; otherwise, if you have any steps I can take to narrow it down, I can try those from my end.

[2018-04-05 19:01] bergmeister commented on #686
@chriskuech No, I do not work for MS, I am only a community maintainer. You should still put some effort into producing a minimal example that reproes and open a new issue since the cause of the NullReferenceException is probably a different one. For the moment, you could provide the full stack trace and the verbose log. MS employees currently working on this repo are @kalgiz and @jamesWTruher.

[2018-04-05 19:04] #879 closed

[2018-04-05 19:09] chriskuech commented on #686
After trying some more things I was actually able to narrow down the file found in both repos, and from there make a minimal repro:

[code]

The fully-integrated code works fine.  I invoke PSScriptAnalyzer using `Invoke-ScriptAnalyzer . -Recurse` where a custom PSScriptAnalyzerSettings.psd1 sits `.`.

[2018-04-05 19:36] chriskuech commented on #686
I faced a bug with similar symptoms inhttps://github.com/PowerShell/PSScriptAnalyzer/issues/828.  For that reason, I think the command used to invoke PSScriptAnalyzer is important, as well as the PSScriptAnalyzerSettings.psd1 below.  Further, I just noticed that linting in VS Code is not catching my misaligned hashtable assignments, making me believe this is directly related to the rule in the oth

[2018-04-05 19:57] bergmeister commented on #686
@chriskuech This does not repro either. Again, open a new issue and provide full details in there. In addition to the details required in the issue template, also supply rough hardware specs (CPU and disk), the full stack and the verbose output. Thank you.

[2018-04-05 22:22] bin3377 commented on #934
Maybe same issue
[code]
`PSUseDeclaredVarsMoreThanAssignments` reported on `$ret += 1`
but it's fine if rewrite it as a foreach loop

[2018-04-06 11:36] bergmeister commented on #924
@LaurentDardenne  I will try to come back to you on this in a few days, but feel free to ping me if I forget. PS: We also have a `scriptanalyzer` channel on Slack where more people from the community are an might be able to help you out on that: https://powershell.slack.com

[2018-04-08 12:06] markekraus commented on #945
What is the point of this rule then, if not to prevent unsafe code? I understand that it is common to allow the underlying cmdlets to handle the should process. However, that is not always safe in the case of nested bad behavior.

If it's not going to complain when the function does not directly handle should process and require suppression, the rule is worthless and should be removed as it gives

[2018-04-08 22:21] bergmeister opened #964 "Find out why 9 known failing tests on PowerShell Core pass in AppVeyor environment"
We recently added PowerShell Core CI on Windows and Ubuntu and the number of tests that I had to fix for that were surprisingly small.
Locally, I always have 9 failures for PowerShell Core (both OS) but not in AppVeyor and when running the tests in the hosted Linux agent of VSTS confirm that it is probably AppVeyor that is hiding something.
We should find out about this BEFORE we fix the tests. Th

[2018-04-08 22:26] bergmeister opened #965 "Being able to run tests by setting $PsModulePath instead of XCopy to one of those folders"
As discussed internally. Instead of doing a `Copy-Item` of the `PSScriptAnalyer` folder in the `out` folder to the first `$env:PSModulePath` folder (where it can override an existing installation due to the version number being the same), we should just be able to just set add the `out` folder to the beginning of the `$env:PSModulePath` variables during test execution. However, this does not even

[2018-04-09 09:41] LaurentDardenne commented on #924
@bergmeister  I am creating a [rule](https://github.com/LaurentDardenne/ParameterSetRules/blob/master/RuleDocumentation/MissingArgumentToManageIncomingPipelineObject.md) to control the elements of a pipeline, I do not know if it is my rule that is wrong or the documentation of the PSSA code is to correct or specify.
I modified my code by removing the process block, which makes it a function with a

[2018-04-09 18:10] #878 closed

[2018-04-09 21:25] hubuk opened #966 "Exception occurred while constructing custom validator attribute."
Steps to reproduce
------------------
Run run.ps1
Source code available also here:
https://github.com/hubuk/PSSAReproduction

run.ps1
[code]
Modules\Common\Common.psm1
[code]
Modules\Main\Main.psm1
[code]
Expected behavior
-----------------
No exception shall be reported.

Actual behavior
---------------
Exception thrown:
[code]

Environment data
----------------

[code]

[2018-04-10 11:16] LaurentDardenne commented on #966
The exception is different in 5.1
[code]
The code works if we use a C# class  :
[code]

[2018-04-10 23:02] bergmeister commented on #966
Thanks for reporting this and the detailed repro steps and feedback. I will take a look at it tomorrow and attach the debugger.

[2018-04-11 06:16] bergmeister commented on #966
Thanks for reporting this and the detailed repro steps and feedback. I can confirm this reproes as well in the latest development version in Windows PowerShell and PowerShell Core but in both cases only when `run.ps1` is being executed the first time or if `Invoke-ScriptAnalyzer . -Recurse` was not called before. I could pin it down to where it happens but it needs more time to be looked at why it

[2018-04-12 18:58] kalgiz commented on #950
@bergmeister Is the issue fixed in #949 ? If you are working at the issue or solved it, could you, please, assign it to you / close it etc. ? It would be easier to find issues that are not solved yet and nobody works at them.

[2018-04-12 20:28] bergmeister commented on #950
@kalgiz No, this issue was created as part of #949 as James was thinking about other special cases that need to be tweaked as well. The PR fixed unary operators, but we thought that e.g. comparison operators would need a similar treatment as well.
Feel free to take any issue that is not assigned to me or where a PR is open against it. Yes, let's start using the rule of assigning issues to ourselve

[2018-04-12 23:30] rismoney commented on #214
I'm submitting a PR to get deprecated of this ill formed rule.  It is bad for the community and people are abusing the rationale 'aliases are bad' instead of embracing idiomatic powershell as awesome.

[2018-04-13 07:45] bergmeister commented on #214
@rismoney Times have moved on since this issue was created. PowerShell Core came out and as part of it some alias had to be removed on some platforms, which makes it much more important to not use aliases in scripts. The future direction is even to take out aliases completely and provide them via modules. You can call `Invoke-ScriptAnalyzer` with `ExcludeRule PSAvoidUsingCmdletAliases` if the rule

[2018-04-13 12:37] rismoney commented on #214
True but in the duration this issue has caused irreparable harm to the
ecosystem in favor of removing aliases from scripts for poor foundational
reasoning.  This now accounts for unneccesary verbose scripts that don't
embrace a powershell's idiomatic style capabilities.

on some platforms, which makes it much more important to not use aliases in
scripts.

Disagree.  Powershell core can do what it

[2018-04-13 21:25] SeeminglyScience commented on #214
as I've stated the rule should be cross version alias compatibility not using
aliases in general.

I agree that the version compatibility argument isn't the best one when it comes to aliases. I'd like to see a  separate rule that warns about specific aliases if you've already excluded `PSAvoidUsingCmdletAliases`, for those who prefer aliases.

The stronger argument is readability for those just st

[2018-04-13 21:37] rkeithhill commented on #214
I use these interactively all the time but I also work with folks that have to tweak my scripts.  These folks are not PowerShell experts but can Google with the best of them.  Cryptic syntax puts those people off where-as seeing `Where-Object` and `Foreach-Object` is significantly more "obvious" to them.  That said, folks are never going to agree on what rules should be enabled/disabled by default

[2018-04-13 23:27] rismoney commented on #214
It's hardly cryptic.  It's idiomatic.  If anything the rule should be
reversed. Anyone who endorses or uses Foreach-object should use %.  foreach
is not even a legit verb or word for that matter.  I foreach'nt a clue who
came up with this one.

Give people credit.  People CAN learn simplistic symbols and shorthand used
in very common cases.  The language has some really rediculous cmdlet names
and

[2018-04-14 06:41] majkinetor commented on #214
**Totall support for @rismoney and the patch !**

This is invalid argument. Everyting changed, including bunch of cmdlets. Some cmdlets do not exist just the same as aliases, and some are substantially different like iwr.

Another one when developers thought that they know how people use their tool, but the life thought differently, even with all that "no aliases" propaganda. I see people all arou

[2018-04-14 06:47] majkinetor commented on #214
Really @rkeithhill ? Is that even happening, someobdy searching on Google for % and ? and not finding them and abandoning powershell forever ? \<sarcasm> So we lost potential valuable member of community or invaluable IT worker \</sarcasm>

People that want to use Powershell usually just open some tutorial or book or quick intro first and % and ? are on the first page, probably in the first few pa

[2018-04-15 00:17] swngdnz opened #971 "Build PSSA using VS fails"
Steps to reproduce
------------------

After downloading and installing 18 GB of Visual Studio and figuring out how to do a “git clone” – I find that the dev build script is dependent on something called “dotnet build”. Which I’m guessing has something to do with .NET Core. WTF? The new PSSA doesn’t work with Windows PowerShell anymore?

PowerShell:
.\buildCoreClr.ps1 -Framework net451 -Configurat

[2018-04-15 00:41] swngdnz commented on #971
README.MD instructions are flat out wrong for Visual Studio. None of the "build" scripts in the dev folder work with VS 2017 Community. And apparently none of them work with any edition of VS 2017, only VS 2015 and 2013.

If you aren't going to provide regular updated builds, you MUST provide working build instructions. If I need a "dotnet something" then please tell me exactly what the requiremen

[2018-04-15 07:58] bergmeister commented on #971
The ReadMe instructions on building from source [here](https://github.com/PowerShell/PSScriptAnalyzer#requirements) tell you exactly that you need the '[.NET Core 2.1.101 SDK](https://www.microsoft.com/net/download/dotnet-core/sdk-2.1.101) or newer'.
As you already realised by the error message is that you do not have the the .Net Core SDk because due to the missing `dotnet build` command. Install

[2018-04-15 21:25] swngdnz commented on #971
I'm also not a GitHub expert. When I wrote "you closed it" I was referring to the Resolution-Answered tag. I don't know how to tell if you actually closed it or not.

[2018-04-15 21:40] bergmeister commented on #971
I have not closed the issue as I was waiting for a response that it works for you. I am always open for questions, the tags are just for categorisation. The ReadMe has instructions on how to build via commandline, that's all you need, the instructions are quite clear to me (therefore please tell me if I missed something or implied some knowledge) in the sense that they say that you need the .Net C

[2018-04-16 18:31] kalgiz commented on #934
Also here we have false negative:

`while(true) {
 $b=1
 $b
}
$b=2
`

Expected rule violation for the code outside of while loop but there was no message.

[2018-04-16 18:46] kalgiz commented on #934
Currently we collect all the ScriptBlocks on the list and then for each of them run the AnalyzeScriptBlockAst method. In the method firstly we add all the variable from assignments to the dictionary and then we check if they were used beside assignment instruction. It generates false positives when the nested ScriptBlock is analyzed separately from the parent ScriptBlock (ForEach loop example) and

[2018-04-16 20:28] bergmeister commented on #934
Related issue is #938. Your proposed changes are sound and would be an improvement.
The ultimate solution would be to use SSA (single static analysis), which is at the moment kind of implemented (see Helper and VariableAnalysis class) but only partially working (it kind of works in scripts themselves but not so well inside function definitions or scriptblocks). Therefore bear in mind that we need

[2018-04-19 21:16] kalgiz commented on #934
@bergmeister  By the existing base you mean just the changes for the SSA? Probably not the whole ScriptAnalyzer codebase... ? Could you, please, point me out to some PRs with the SSA changes or code itself? Still probably PSUseDeclaredVarsMoreThanAssignments rule should be rewritten and I have to understand the SSA first to plan it.

[2018-04-19 21:48] kalgiz opened #972 "PSUseDeclaredVarsMoreThanAssignments does not trigger when using -ScriptDefinition parameter"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
Triggers PSUseDeclaredVarsMoreThanAssignments rule.

Actual behavior
---------------
No PSUseDeclaredVarsMoreThanAssignments warnings.

Environment data
----------------

[code]

[2018-04-19 22:10] bergmeister commented on #972
@kalgiz This is because you used double quotes, therefore `"$a = 1"` just resolves to ` =1` because it resolves the variable `a`.
If you use single quotes, it generates the warning:
[code]

[2018-04-19 22:10] #972 closed

[2018-04-19 22:13] kalgiz commented on #972
Yes, thanks a lot for clarification.

[2018-04-19 23:23] kalgiz opened #973 "Index out of range Error for ScriptDefinition '$a=1' on pwsh 6.1.0.-preview.1 only"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------
Triggers PSUseDeclaredVarsMoreThanAssignments rule.

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-04-20 16:30] bergmeister commented on #973
@kalgiz  This is interesting because I have the same version of Ubuntu and using PowerShell Core version is `6.0.2` this does not happen, but when I upgrade to `6.1.0-preview.1` it starts to happen (both for the release and development version of PSSA). Is `6.1.0-preview.1` already running on .Net Core 2.1?
It would be good to also see the stack trace. If it is an error that bubbles up to PowerShe

[2018-04-20 21:03] bergmeister commented on #973
To add more details: this also happens for `pwsh 6.1.0.-preview.1` on Windows as well (but not on 6.0.2 or 5.1).

[2018-04-20 21:31] bergmeister commented on #971
@swngdnz Is everything building OK now?

[2018-04-20 21:55] bergmeister commented on #934
@kalgiz Yes, by base I only meant the existing base around the SSA implementation. I am going to try to describe my understanding of SSA in this code base now to the best of my knowledge but take it with caution as I could be wrong in some cases since I did not have to implement/touch it until recently:
A few methods in the [Helper](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/E

[2018-04-22 17:26] LaurentDardenne commented on #883
In addition :
In the event of a function name collision (example: new-module), the error message does not reference a qualified name (Microsoft.PowerShell.Core \ new-module).
In my case, I spent a few minutes before realizing that the message spoke of another function than mine (present in a module) ...

[2018-04-22 17:47] alx9r opened #975 "PSScriptAnalyzer rule changes not sticky using PowerShell/vscode-powershell"
I understand that the fault may lie with PowerShell/vscode-powershell.  I'm opening this bug here for the following reasons:

1.  It reflects badly on PSScriptAnalyzer regardless of the cause.
2. [PowerShell/vscode-powershell#899(comment)](https://github.com/PowerShell/vscode-powershell/issues/899#issuecomment-358316383) has already been asked and seems like should be straightforward for a develop

[2018-04-22 18:09] bergmeister commented on #966
A peak into the currently running threads just before the debugger hits the call `funcInfo.ScriptBlock.Atrributes` that throws the exception shows that the underlying issue is the `GetCommandInfoLegacy` method (which internally holds a lock to the commandInfo cache):

[2018-04-23 07:05] bergmeister commented on #975
@alx9r  Hi, thanks for the info. I was not aware that those VsCode settings do not get persisted and as you said it is a bug in the VsCode extension and not PSSA itself. However, I can offer you an alternative to save your settings (this is how I manage the settings myself): Just use the `powershell.scriptAnalysis.settingsPath` setting instead, which then gets saved in the `.vscode/settings.json`

[2018-04-23 20:44] bergmeister commented on #214
Of course one can have different views on aliases, but a matter of fact is:
- PSSA has to support all PowerShell versions and as some aliases do not exist on some platforms, it makes total sense to warn on some aliases as behaviour might differ. Currently, there is no version mode for it to make a more detailed judgement
- PSSA has some cleverness built in and can also see if you have aliases defi

[2018-04-23 22:01] rismoney commented on #214
Whitelist common aliases from a rule that discourages use?  This is backwards. If you want to block a particular alias then you should cite a reason such as incompatibility across versions (your first bullet)  But I stand by, if you can't substantiate a valid reason not to use a particular alias, beyond noob understanding I think the rule is a farce and a disservice.

If you are writing code you d

[2018-04-23 23:49] #675 closed

[2018-04-24 14:04] alx9r commented on #975
Hi @bergmeister.  Thanks for helping me with this.  I like the concept you described, but I haven't gotten it working.

I thought I followed your directions faithfully, but I'm seeing

![image](https://user-images.githubusercontent.com/11237922/39191788-93e3f08e-478c-11e8-983b-791ddffb9da5.png)

when I select "PowerShell: Select ScriptAnalyzer Rules" from the command pallette.

Here is a minimal p

[2018-04-24 15:01] bergmeister commented on #975
@alx9r Hi, yes, I have the same behaviour in my checkout and I think the extension is correct to display this error because the PSSA rules are now defined inside the settings file that you would need to modify instead if you want to enable/disable a rule. Modifying the file instead of using the menu is not as nice but should still be sufficient to solve your problem.
It seems that the implementati

[2018-04-24 15:27] alx9r commented on #975
@bergmeister
Ok.  I see how this fits together now.  Thank you very much for the explanation.

I think I will.  I'd like to suggest an improved message in that notification I posted above to avert this confusion.  Would you be able to suggest some wording as a starting point?

Basically anyone who encounters it should find a low-friction path to the same explanation you gave me.

There's no apolog

[2018-04-24 15:56] bergmeister commented on #975
@alx9r Thanks. I will close the issue then if that is OK with you?

[2018-04-24 20:59] tylerl0706 opened #976 "Parallelize rules if possible"
Opening this generic issue while in a meeting with folks discussing PowerShell editor tooling.

Jim believes that we are not parallelizing everything that we could be - the big one being rules execution. We should try to parallelize this as much as possible to get perf gains.

[2018-04-24 21:08] bergmeister commented on #976
As far as I am aware each rule is run in a different thread. To me it seems to be mainly parallelized already. I think the current limiting factor is the locks that are present in e.g. the Helper class. Maybe it is better to have an on-line Skype meeting from time to time to discuss things like that?

[2018-04-24 23:11] Jaykul commented on #214
For the record, **this** is the _opposite_ of cleverness:

[code]

Analysis of aliases based **entirely** on the user's current environment is fragile, brittle, and pretty useless ...

[2018-04-25 13:53] GABeech opened #977 "Default Branch is Development, no notice in the README"
The current default branch on the repository is `development` which can cause confusion due to the documentation being contained in the README for that branch.

Since the GitHub UI doesn't expose this very well, can we get a notice at the top of the README that this is the documentation for vNext with a link to the master branch?

I only noticed this when I was trying to find out why the commands

[2018-04-25 14:52] alx9r opened #978 "PSScriptAnalyzerSettings.psd1 not Used Implicitly"
In [#975(comment)](https://github.com/PowerShell/PSScriptAnalyzer/issues/975#issuecomment-383475074) @bergmeister wrote the following:

Steps to reproduce
------------------

1. Extract the zip [PssaVscode.zip](https://github.com/PowerShell/PSScriptAnalyzer/files/1947510/PssaVscode.zip) with full paths.
2. Set PowerShell's location to the folder containing `PSScriptAnalyzerSettings.psd1`.
3. Invok

[2018-04-25 16:00] Jaykul commented on #214
Honestly, @bergmeister maybe it's worth revisiting your points 😉

###  PSSA has to support all PowerShell versions and ... some aliases do not exist on some platforms

Unless we have **hardcoded** the lists of _pre-defined_ aliases into it, PSSA does not know anything about aliases -- except that the _current session_ has some. Therefore, all PSSA can reasonably do is make sure I know that **my SE

[2018-04-25 16:45] exchange12rocks commented on #874
I also would like this rule to trigger at any positional parameter in code which I maintain.

[2018-04-25 17:15] rismoney commented on #214
I think what you said makes A LOT of sense @Jaykul.  I would add that it should be the job of PSSA to indicate (via informational) deprecations notices of aliases changes across versions to discourage particular usage patterns.  These might help people code and plan across versions, which I believe to be a very popular CI pattern in other languages.  Often times, in ruby, I'll rubocop my code on 3

[2018-04-25 20:09] bergmeister commented on #978
@alx9r This seems to be a problem with the wildcard `*.`that you provided. The following works:
[code]
You can also use `*.*`, which works.

I will keep this issue open though as you found a special case that also does not work (same behaviour in the last version of the `development` branch.

[2018-04-25 21:00] alx9r commented on #978
Thanks for looking into this @bergmeister.  The reason I expected `*` to work is because the help for the `-Path` parameter includes the following statement:

[2018-04-25 21:38] bergmeister commented on #743
@ThmsRynr I discussed this with @SteveL-MSFT at psconf.eu. We either need to either provide a way of optionally running script base rules or translate the rule into C# for performance reasons. Could you provide some examples of the rules that you would like to contribute?

[2018-04-25 23:26] rjmholt commented on #952
@bergmeister is quite right.

Closing in favour of https://github.com/PowerShell/PowerShell/issues/6731.

[2018-04-25 23:26] #952 closed

[2018-04-26 08:31] majkinetor commented on #214
100% agree with @Jaykul too.

If anything, PSSA should have static list of cmdlets and aliases per version (this exists in the wild, for example in ISE on Steroids this is called Compatibilty check). Then it can do useful recommendations suach as _this command/alias is deprecated/non-existent in Posh vX.Y_

Because that is **the most useful thing to know**, contrary to flags I get when use `% | ?`

[2018-04-26 18:31] kalgiz commented on #934
@bergmeister Thanks a lot for thorough clarification. I will try to schedule some discussions with seniors more aware of the codebase and hopefully we can come with a decision soon.

[2018-04-28 08:56] LaurentDardenne commented on #607
Will this request be taken into consideration?
This would simplify the use of configuration file:
[code]
Today if I change the version of one of these modules, I have to modify the configuration file.
And that for each project using these same external rules

[2018-04-28 09:41] bergmeister commented on #607
Although a `-CustomRuleModule` option would add yet another parameter, it seems reasonable to have such a feature. If this issue is important to you, I think you can go ahead with a PR. cc @JamesWTruher

[2018-04-29 09:05] LaurentDardenne commented on #607
For those who use external rules encoded powershell.
I will continue to use a bypass (I adapt to the problem).

In my opinion, this [discussion](https://github.com/PowerShell/PSScriptAnalyzer/issues/743) will sooner or later come up against this limit.

[2018-04-30 16:19] bergmeister commented on #977
@GABeech This is a known issue and when I looked into, it was not possible to configure GitHub to display master by default.
Also, we were expecting a release soon and therefore did not want to make it too complex. The release is imminent, which will resolve this problem soon. Should we change the parameters again, then we will display the syntax of the release and latest development version.
Goin

[2018-05-02 16:09] Jaykul commented on #902
Yeah, my team has been experiencing this occasionally on our (Windows 10) laptops -- but never on our beefier (Server 2016) build boxes.

Is this purely a matter of filing a bug against PowerShell's Invoke or can we work around it by using a concurrent collection, or an optional switch to do analysis in a slower, non-parallel way?

[2018-05-02 19:36] bergmeister commented on #902
@Jaykul There are various multi-threading bugs that I have observed/analyzed in the last months and my current understanding is that there are 2 root causes:
- PowerShell's Invoke not being thread safe although the comment on it claims that it should be. There is already an issue for it in the PSCore repo: https://github.com/PowerShell/PowerShell/issues/6422
- Static members being locked too long

[2018-05-03 02:53] gbuktenica opened #981 "New Rule: Detect common Unicode character subsitutions."
When PowerShell code is copied into Visual Studio code from external sources some characters have been converted to an incorrect Unicode equivalent.
Examples are:
Double quote U+0022 <"> converted to left or right double quote U+201C and U+201D
Apostrophe U+0027 <'> converted to left or right apostrophe U+2018 U+2019
Dash U+002D <-> converted to En dash U+2013

The vscode-powershell add on display

[2018-05-03 05:38] bergmeister commented on #981
Very good idea, I have had similar problems in the past as well. However, PSSA usually relies on the parser, therefore this might become interesting to implement. I will try to look at some example cases and see if there is some good heuristics to detect such cases reliably

[2018-05-03 23:13] edyoung opened #982 "NullReferenceException analyzing xWebAdministration DSC resource"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

[code]

Actual behavior
---------------

[code]

Environment data
----------------

[code]

[2018-05-05 12:15] mlocati opened #984 "Running PSScriptAnalyzer on nanoserver"
PSScriptAnalyzer does not currently run on nanoserver.

Try this command on a Windows machine with Docker installed (and configured to run Windows containers):
[code]

The output will be
[code]

The only relevant info I found about running PSScriptAnalyzer on NanoServer is located at https://github.com/PowerShell/PSScriptAnalyzer/blob/NanoServer/ExtraStepsSettingUpNanoServerScriptAnalyzer.md , but

[2018-05-05 12:28] bergmeister commented on #984
Without having investigated it yet, there is a chance that this might be already fixed or at least improved in the upcoming release of 1.17 (hopefully next week) because the references to SMA are now properly configured, therefore I'd like to wait for the results with the new release if that is OK with you? I could already give you a preview (i.e. unsigned) version of it if you want?

[2018-05-05 12:50] mlocati commented on #984
No hurry at all... I'm going to use PSScriptAnalyzer to run Appveyor tests for a [package I'm developing](https://github.com/mlocati/powershell-phpmanager).
I'm planning to run these tests both on the default Appveyor Windows Server and in a Docker image with nanoserver. Of course, for the time being I can skip the PSScriptAnalyzer tests on nanoserver (since they are executed on the Windows Server

[2018-05-05 12:54] mlocati commented on #984
PS:
[code]

[2018-05-05 12:56] bergmeister commented on #984
Thanks. Aha, the PSVersionTable reveals that it is actually a (custom pre-release) version of PowerShell Core but of version 5.1 (really confusing versioning...). I will try to setup Docker on an Azure VM in the next days and play with it a bit to give you a more detailed answer/solution.

[2018-05-05 13:04] bergmeister commented on #984
P.S. There seem to be some (even more confusing) changes to PowerShell on NanoServer coming soon:
https://docs.microsoft.com/en-us/windows-server/get-started/powershell-on-nano-server

[2018-05-05 13:10] bergmeister commented on #984
P.S. For the moment, I am not sure if PSSA is currently supported or supposed to work on NanoServer as your referenced branch seems to be rather an old PoC. But anyway, I will try to make it work on it.

[2018-05-05 14:25] mlocati commented on #984
Thank you, Christoph.

For the time being I just excluded PSSA from my tests on nanoserver (see https://ci.appveyor.com/project/mlocati/powershell-phpmanager/build/Build%2097 ).

[2018-05-05 20:40] bergmeister commented on #982
I can confirm this still happens on the latest version of `development`. The more minimal repro is:
[code]
Here is the snapshot inside the debugger:
![image](https://user-images.githubusercontent.com/9250262/39667382-dde5c88c-50ac-11e8-9f01-b2b25c2e4188.png)
I need some more time understanding the code and the files being analysed to come to a conclusion what the best action would be.

[2018-05-06 09:29] bergmeister commented on #984
Some minor updates, I can repro now and the full stack trace is (`using $error[0] | select *`):
[code]
This is happening [here](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/Engine/Helper.cs#L3900) because it seems that the `SemanticVersion` class is not present in this version of PowerShell Core (maybe hence why they used 5.1 as a version for it as it seems to be a stripped vers

[2018-05-06 12:37] LaurentDardenne commented on #607
Perhaps a problem of language comprehension on my side, the title seemed clear to me:
 _'Enable script-based rules to be contributed to the core ruleset'_
For 'script-based rules' I understand Powershell script :
[code]
Or is it to prototyping?

Plaster does that and it's a appreciable behavior. For PSSA I prefer a configuration file.
To facilitate the search for rule modules would be helpful, I a

[2018-05-06 13:50] bergmeister commented on #607
The big difference to including script based rules as part of PSSA itself as part of the default rules has a significant performance impact as I showed in my proof of concept. Hence why I'd rather like to convert them to c#.
Any rule that is not generic to PowerShell itself and useful to everyone should rather be optional via referencing a 3rd party module (no matter if the rule is written as a sc

[2018-05-07 07:42] mlocati commented on #984
Not for me: the [PSGallery package I'm developing](https://github.com/mlocati/powershell-phpmanager) is meant to work only on Windows (it's used to install/update/configure PHP on Windows).

[2018-05-07 07:43] bergmeister commented on #966
@JamesWTruher What do you think about using the `ReaderWriterLockSlim` class for locking instead of the simple lock (which uses the Monitor class under the hood). This should improve behaviour since most operations are only reading.
In this case (I think) the issue seems to be though that we access an element of the `commandInfo` cache list indirectly (and potentially the property call also tries

[2018-05-07 07:55] bergmeister commented on #984
Hmm, ok. For the moment, it seems you can only use it using the `windowsservercore` image on Windows but I will try to get `NanoServer` support in as well.

[2018-05-07 13:34] mlocati commented on #984
Thank you Christoph,

BTW I didn't file this issue for my own needs: in my repo I'm testing two different environments, one being a standard Windows server image, the other being a nanoserver docker image.
I already execute PSSA in the first image, so these tests aren't strictly needed in the second image.

I filed this issue for the sake of completeness of this great PSSA (it should run on as man

[2018-05-07 19:36] SteveL-MSFT opened #989 "Integrate Injection Hunter with PSSA"
[Injection Hunter](https://www.powershellgallery.com/packages/InjectionHunter) is a module that has rules to detect coding practices leading to injection attacks.  We should integrate this module with PSSA.

[2018-05-07 21:42] bergmeister commented on #984
@mlocati Instead of installing it, I just download the module and import it then. You will see a warning message (` Win32Helpers: Cannot add type. Compilation errors occurred.`) from `Save-Module` but you can ignore it since it is still able to get the job done. Here is the example:
[code]
This Docker image contains the 1709 Windows build (10.0.16299) and PowerShell Core 6.0.2
There are also other

[2018-05-08 00:40] SteveL-MSFT opened #991 "PSSA should be crossgen'd"
Doing some perf tests and there's a large impact to the first time PSSA.dll is loaded due to JIT.
 However, after the initial JIT, execution time is MUCH faster.  But for cases where PSSA is invoked just once, it's a huge cost without savings as the JIT is only in memory until the process goes away.

These times are for using PSSA recursively against all scripts in PowerShell repo:

| PowerShell |

[2018-05-08 06:54] bergmeister commented on #991
Good idea, I agree it is a known problem of .net assemblies to have a JIT overhead. I am surprised that there is that much potential since the PSSA dlls are relatively small.
At the moment, PSSA only does a `dotnet build` and not a `dotnet publish` because it can rely on PowerShell to provide all other dependencies (I had a brief discussions  with James if this was OK and he said yes). Does it mea

[2018-05-08 13:33] mlocati commented on #984
@bergmeister Thanks for the deep analysis.

BTW I'll continue using microsoft/nanoserver because:
- I already run PSSA tests (not on nanoserver but on a full Windows server)
- I'm developing a package that's meant to run on as many target environment as possible, and microsoft/nanoserver seems to have a lower PS version.

[2018-05-08 14:00] ThmsRynr commented on #743
That sounds like a pretty reasonable compromise, @SteveL-MSFT. When the issue was originally opened, I don't think we anticipated the size of the performance impact of running PowerShell-based rules. The idealist in me wants to reply with something about addressing the performance impact but I know it's not likely a PSSA issue, and it's probably not worth tackling even if it was.

~~Clearly this i

[2018-05-08 18:53] bergmeister commented on #989
The rules defined are:
- Measure-InvokeExpression : I think we do not need to port this because there is already a [AvoidUsingInvokeExpression](https://github.com/PowerShell/PSScriptAnalyzer/blob/development/RuleDocumentation/AvoidUsingInvokeExpression.md) rule
- Measure-AddType
- Measure-DangerousMethod
- Measure-CommandInjection
- Measure-ForeachObjectInjection
- Measure-PropertyInjection
- Meas

[2018-05-08 20:51] bergmeister commented on #971
@swngdnz Could you resolve your problem now. I will close the issue otherwise if there is not any outstanding question?

[2018-05-08 20:53] TravisEz13 commented on #984
@bergmeister Our image is based on `microsoft\nanoserver:1709` (newer than latest.) There are breaking changes which make this image much smaller, but I would recommend starting with this images as these changes are already announced.

[2018-05-08 23:48] JamesWTruher opened #993 "MS Internal - VSTS build scripts will need changing"
when we move to a new signing process

there's nothing to be done now (or soon), but we should track this

[2018-05-09 12:03] swngdnz commented on #971
Oops, sorry. I lost track of this.

The only thing left is the Get-Module issue. If i install VS Code, and the PowerShell plug-in, then I execute the command requested for posting an issue here, the command fails.

[code]
But PSSA is definitely there.

After I install a "custom" version of PSSA then the command works.

Thanks.

[2018-05-09 21:07] bergmeister commented on #966
All my previous analysis is still true in terms of improvements to be made but I think I could (finally) figure out what happens in this case:
PSSA analysis scripts file by file serially but for each file it kicks off each rule in a separate thread (but waits until all rules are finished until continuing to the next file). So far so good. What happens is:
1.) PSSA analysis `Main.ps1` first and one

[2018-05-10 03:33] SteveL-MSFT commented on #991
The downside of crossgen is that the binaries are platform specific.  Note that this isn't a high priority item and I wouldn't work to address this until PSGet supports [multiple runtimes](https://github.com/PowerShell/PowerShellGet/issues/273)

[2018-05-10 06:11] bergmeister commented on #991
Ok, I was suspecting that. FYI: At the moment PSSA already has to ship separate binaries for v3, 4, v5 and coreclr and at import time the module decides which binaries are appropriate.

[2018-05-10 12:33] Blackbaud-ShaydeNofziger commented on #841
@rebro-msft Sorry to revive an old thread, but we're seeing extreme slowness when analyzing script modules that are heavy on AzureRM cmdlets. Are you saying the issue stems from the `Get-Command` loading the DLLs?

@bergmeister We noticed a huge improvement in script analysis times (34+ minutes down to less than 3 minutes) for our module when uninstalling AzureRM from the build machine. But we're

[2018-05-10 14:06] Blackbaud-ShaydeNofziger commented on #841
This is a very basic example but demonstrates what I mean - [example.zip](https://github.com/PowerShell/PSScriptAnalyzer/files/1991722/example.zip)

Below are my findings with our module in question. The times I was speaking of were from our build agent, but these results are from my laptop. Please note I am unable to share the codebase in a public forum.

*These tests were performed in brand new

[2018-05-10 15:14] Mcgurk125 commented on #619
Has this ever been fixed!?

[2018-05-10 15:50] bergmeister commented on #841
Thanks, I will take a look at in the next days with your example and depending on the outcome we can then open a more specific issue (or multiple) once we have more information.
Does your code base include azurerm itself or is it only calling its cmdlets?

[2018-05-10 16:35] Blackbaud-ShaydeNofziger commented on #841
The codebase only includes calls to the AzureRM cmdlets, and the AzureRM roll-up module is listed as a `RequiredModule` in the Manifest file.

Script Analyzer is only scanning our `*.ps1` files that make up our module, nothing from the AzureRM module itself.

[2018-05-10 16:56] bergmeister commented on #841
@Blackbaud-ShaydeNofziger OK, I ran a quick test with your example, and running an `Import-module AzureRM` before running PSSA 10 times against your example only doubles the execution time (which is kind of expected, since AzureRm simply adds a lot of data). But I cannot see a difference when uninstalling AzureRm (I always tried all steps in a fresh new session). I see that there is quite a bit of

[2018-05-10 17:15] Blackbaud-ShaydeNofziger commented on #841
@bergmeister Thank you so much for the info! I can confirm that re-running analysis after the initial run does speed things up a ton, so I agree it sounds like the it's the initial caching/JITTING process - Thanks for the tip about building in VS to see the performance. I'll look into that this weekend.

Do you have the Azure SDK installed? I think that install path is a default module location, s

[2018-05-10 23:05] daxian-dbw opened #997 "Check whether a module references itself in 'NestedModules' field in the .psd1 file"
This feature ask is per discussion in https://github.com/PowerShell/PowerShell/pull/6843#discussion_r187123774.

Importing a ill-structured module could result in a circular nested module. For example, for the following code, you will see 'True' as the output.
[code]

So maybe a rule can be written to check the bold part of `test.psd1` "@{ ModuleVersion = '0.0.1'; RootModule = 'test'; **NestedModu

[2018-05-11 20:05] #984 closed

[2018-05-11 20:07] #850 closed

[2018-05-11 20:14] #831 closed

[2018-05-11 21:42] #877 closed

[2018-05-12 18:00] jhoneill commented on #945
This rule does NOT work correctly.  This code fails
[code]
The description of the rule says _"If a cmdlet declares the SupportsShouldProcess attribute, then it should also call ShouldProcess."_  The sample at the top declares the attribute but doesn't call it and passes test. My example neither declares nor calls and fails the test.

[2018-05-12 18:14] jhoneill commented on #945
Either the documentation is wrong or the test is wrong.
 _"If a cmdlet declares the SupportsShouldProcess attribute, then it should also call ShouldProcess."_

It _declares_ but does not _call_ anywhere.  As written the function allows the `-Confirm` and `-WhatIF
` parameters but doesn't do anything about them.

At least one false positive has been fixed (I upgraded my version earlier, but the old